//浏览器重置样式
html, body, div, span, nav, header, iframe,
h1, h2, h3, h4, h5, h6, p, section, footer,
a, form, address, big, cite, code,
del, dfn, em, img, ins, fieldset, q, s, samp,
small, strike, strong, sub, sup,label, var,
b, u, i,input, dl, dt, dd, ol, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html,body{
  font:{
    size: 16px;
    family: "SimHei";
  }
  color: #6c6c6c;
}
form,fieldset{
  border: 0 none;
}
ol,ul{
  list-style: none;
}
img{
  border: 0 none;
  max-width: 100%;
}
input{
  outline: none;
}
button{
  border: 0;
  font-family:"SimHei";
}
i,em{
  font-style: normal;
}
a{
  color: #535353;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

//all pages
#box{
  width: 100%;
  height: 100%;
  overflow: hidden;
  .header{
    width: 100%;
    height: 67px;
    overflow: hidden;
    margin: {
      top: 2%;
      left: 20%;
      bottom: 1%;
    }
    .logo {
      width:100%;
      height: 4.1875rem;
      a{
        display: inline-block;
        width: 3.0625rem;
        height: 4.1875rem;
        background: url('/images/logo.png') no-repeat;
        text-indent: -2000px;
        vertical-align: middle;
        text-align: center;
      }
      span{
        color: #666;
        font:{
          size: 1.5rem;
          weight: bold;
        }
        cursor: pointer;
      }
    }

  }
  .container{
    width: 100%;
    height: auto;
    background: url("/images/bg.jpg") no-repeat center center;
    background-size:100% 100%;
    overflow: hidden;
    margin: 0 auto;
    .found-password{
      width: 37.5rem;
      height: auto;
      margin: 5rem auto;
      background-color: #fff;
      vertical-align: middle;
      border-radius: 10px;
      box-shadow: 1px 1px 20px rgba(16,138,151,0.5);
      .password-top{
        padding: {
          top: 3%;
          left: 3%;
          bottom: 2%;
        }
        overflow: hidden;
        cursor: pointer;
        .key{
          width: 32px;
          height: 36px;
          fill: #f6d236;
          vertical-align: -10px;
        }
        span{
          color: #6c6c6c;
          font:{
            size: 1.25rem;
            weight: bold;
          }
        }
      }
      .password-center{
        width: 100%;
        height: auto;
        background-color: #f1f6f9;
        border: {
          top: 1px;
          bottom: 1px;
          style: solid;
          color: #bfd1dd;
        }
        margin: 0 auto 2rem;
        overflow: hidden;
        @at-root .password-third{
          margin-bottom: 4.5rem !important;
        }
        p{
          margin: {
            left: 2rem;
            top:1.75rem;
          }
          &:last-child{
            margin-bottom: 1.875rem;
          }
          label{
            display: inline-block;
            width:  5rem;
            text-align: right;
            margin-right:  0.625rem;
            &.error{
              color: red;
              display: block;
              text-align: left;
              width: 15rem;
              margin:{
                top: 0.6rem;
                left: 16%;
              }
            }
          }
          input{
            height: 3.125rem;
            border: 1px solid #bfd1df;
            border-radius: 5px;
            padding-left: 1.25rem;
            font-size:  1.125rem;
            &.error{
              border:1px solid red;
            }
            &.valid{
              border:1px solid green;
            }
            &.email{
              width: 68%;
            }
            &.password{
              width: 68%;
            }
            &.code{
              width:40%;
            }
          }
          #message{
            display: block;
            color: #f00;
            margin:{
              top: 1%;
              left: 18%;
            }
          }
          span{
            font-size:1.125rem;
          }
          .code-img{
            width: 7.5rem;
            height: 3.125rem;
            vertical-align: middle;
          }
          .word{
            color: #ff5a5a;
            text-decoration: underline;
          }
        }
        .send-code{
          width: 9.8125rem;
          height: 2.5rem;
          text-align: center;
          line-height: 2.5rem;
          margin:{
            top: 1.25rem;
            left: 9.375rem;
            bottom: 1.25rem;
          }
          a{
            display: block;
            color: #fff;
            background-color: #ff855a;
            border-radius: 5px;
            text-shadow: #e87852 0 2px 2px;
          }
        }
        ul{
          width: 100%;
          height: 100%;
          overflow: hidden;
          padding: {
            top: 2.8125rem;
            left: 7.875rem;
            bottom: 3.4375rem;
          }
          .email-bag{
            float: left;
            margin-right: 2rem;
            .mail{
              width: 89px;
              height: 90px;
              vertical-align: middle;
            }
            .man{
              width: 95px;
              height: 100px;
              vertical-align: middle;
            }

          }
          .send-email{
            float: left;
            margin-top: 0.9375rem;
            span{
              display: block;
              font-size: 1.125rem;
              text-align: center;
            }
            .login{
              width: 11.25rem;
              height: 2.5rem;
              line-height: 2.5rem;
              display: block;
              color: #fff;
              font-size: 1.125rem;
              text-align: center;
              margin:  0.625rem auto 0;
              background-color: #ff855a;
              border-radius: 5px;
              text-shadow: #e87852 0 2px 2px;
              cursor: pointer;
            }
            .see-email{
              @extend .login;
            }
          }
        }

      }
      .password-next{
        button{
          width: 27.625rem;
          height: 3.125rem;
          line-height:3.125rem;
          margin:  0 auto 2rem;
          display: block;
          color: #fff;
          font-size:  1.5rem;
          text-align: center;
          &.next-first{
            text-shadow: #e25c43 0 2px 2px;
            background: url("/images/button-bg.png") no-repeat;
          }
          &.next-second{
            background-color: #dedede;
            text-shadow: #f4f4f4 0 2px 2px;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .footer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: {
      top: 1%;
      bottom: 5%;
    }
    p{
      text-align: center;
      font-size: 0.875rem;
      font-family:"Microsoft YaHei";
      color: #555555;
      &.foot-link{
        a{
          padding-right: 0.3125rem;
        }
      }
      &.copyright{
        padding-top: 0.625rem;
      }
    }
  }
}