//浏览器重置样式
html, body, div, span, nav, header, iframe,
h1, h2, h3, h4, h5, h6, p, section, footer,
a, span, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup,label, var,
b, u, i,input, dl, dt, dd, ol, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html,body{
  font:{
    size: 16px;
    family: "SimHei";
  }
}

ol,ul{
  list-style: none;
}
img{
  border: 0 none;
  max-width: 100%;
}
i,em{
  font-style: normal;
}
a{
  color: #535353;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

//all pages
#box{
  width: 100%;
  height: 100%;
  overflow: hidden;
  .header{
    width: 100%;
    height: 67px;
    overflow: hidden;
    margin: {
      top: 6%;
      left: 20%;
      bottom: 1%;
    }
    .logo {
      width:100%;
      height: 4.1875rem;
      a{
        display: inline-block;
        width: 3.0625rem;
        height: 4.1875rem;
        background: url('/images/logo.png') no-repeat;
        text-indent: -2000px;
        vertical-align: middle;
        text-align: center;
      }
      span{
        color: #666;
        font:{
          size: 1.5rem;
          weight: bold;
        }
      }
    }

  }
  .container{
    width: 100%;
    height: 43.75rem;
    background: url("/images/bg.jpg") no-repeat center center;
    background-size:100% 100%;
    overflow: hidden;
    margin: 0 auto;
    .found-password{
      width: 43.75rem;
      height: 23.75rem;
      margin: 10rem auto;
      background-color: #fff;
      vertical-align: middle;
      border-radius: 10px;
      box-shadow: 1px 1px 20px rgba(16,138,151,0.5);
      .password-top{
        padding: {
          top: 1%;
          left: 3%;
        }
        .key{
          width: 22px;
          height: 36px;
          fill: #f6d236;
          vertical-align: middle;
        }
        span{
          color: #6c6c6c;
          font:{
            size: 1.25rem;
            weight: bold;
          }
        }
      }
    }
  }
  .footer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: {
      top: 1%;
      bottom: 5%;
    }
    p{
      text-align: center;
      font-size: 0.875rem;
      font-family:"Microsoft YaHei";
      color: #555555;
      &.foot-link{

        a{
          padding-right: 0.3125rem;
        }
      }
      &.copyright{
        padding-top: 0.625rem;
      }

    }
  }

}




