*{
  margin:0;
  padding:0;
  font-size:12px;

}
ul li{
  list-style:none;
}
a{
  text-decoration:none;
}
svg{
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
img{
  border:none;
}
body{
  display:flex;
  background:#f5f5f5;
  font-family:"Microsoft Yahei";
}
#nav{
  position:fixed;
  width:160px;
  background:linear-gradient( #304b57 5%, #4b6572 15%,#032332);;
  top:0;
  left:0;
  bottom:0;
  text-align:center;
  #logo{
    width:160px;
    height:147px;
    margin-top:25px;
  }
  .m-title{
    width:156px;
    height:170px;
    background:#000;
    border-left:4px solid #06afe1;
    img{
      width:114px;
      height:114px;
      border-radius:50%;
      margin:16px 0 10px;
    }
    p{
      color:#fff;
    }
  }
  ul{
    margin-top:40px;
    li{
      width:100%;
      height:55px;
      line-height:55px;
      &.active{
        background:#000;
        border-left:4px solid #06afe1;
        width:156px;
      }
      a{
        color:#fff;
        font-size:14px;
        opacity:0.5;
        position:relative;
        width:100%;
        display:inline-block;
        i{
          position:absolute;
          display:inline-block;
          width:5px;
          height:5px;
          background:#f82727;
          top:15px;
          border-radius:50%;
        }
        &:hover{
          color:#ddd;
        }
      }
    }
  }
}
#content{
  margin-left:160px;
  flex:1;
  width:100%;
  position:relative;
  .topmenu{
    height:80px;
    width:100%;
    background:#fff;
    .search{
      width:212px;
      height:35px;
      background:#e2e2e2;
      border-radius:20px;
      margin:22px 0 0 20px;
      float:left;
      input{
        border:none;
        height:30px;
        width:160px;
        margin:3px 0 0 13px;
        background:#e2e2e2;
        outline:none;

      }
      a{
        margin-left:8px;
        img{
          vertical-align:middle;
        }
      }
    }
    .user{
      float:right;
      margin-right:138px;
      .username{
        float:left;
        position:relative;
        a{
          color:#06afe1;
          font-size:14px;
          line-height:80px;
          font-weight:bold;
          i{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 4px 0 4px;
            border-color: #d2d2d2 transparent transparent transparent;
            display:inline-block;
            vertical-align:middle;
          }
        }
        ul{
          position:absolute;
          left:0;
          top:60px;
          display:none;
          li{
            a{
              line-height:20px;
            }
          }
        }
      }
      img{
        width:60px;
        height:60px;
        border-radius:50%;
        margin:10px;
      }
    }
  }
  .announcement{
    background:#052e42;
    margin:30px 30px 0;
    color:#fff;
    padding:30px 40px;
    h2{
      font-size:16px ;
    }
    p{
      margin:10px 0 20px;
      font-size:14px;
      line-height:20px;
    }
    .read{
      font-size:14px;
      display:inline-block;
      width:80px;
      height:24px;
      text-align:center;
      line-height:24px;
      background:#06afe1;
      color:#fff;
      border-radius:3px;
    }
    .close{
      float:right;
      color:#fff;
      margin:-15px;
    }
  }
  .main{
    .module{
      display:flex;
      flex-wrap:wrap;
      width:100%;

      li{
        text-align:center;
        a{
          &:hover{
            figcaption{
              color:#06afe1;
            }
          }
          figure{
            figcaption{
              font-size:16px;
              color:#252525;
              margin:10px 0;
            }
          }
        }
      }
      &.mainmodule{
        margin-top:70px;
        li{
          width:160px;
          margin:30px 5%;
          img{
            height:148px;
            border-radius:50%;
          }
        }
      }
      &.submodule{
        margin-top:30px;
        li{
          width:100px;
          margin:20px 2%;
          img{
            height:69px;
          }
        }
      }
    }
    .daily{
      box-shadow:1px 1px 20px rgba(232,232,232,0.5);
      border:1px solid #ddd;
      margin:40px 30px;
      padding:39px 20px;
      border-radius:10px;
      background:#fff;
      .dail-list{
        height:40px;
        line-height:40px;
        padding:0 20px 0 10px;
        p{
          border-bottom:1px dashed #ccc;
          font-size:16px;
          color:#999;
          a{
            color:#999;
          }
          span{
            float:right;
          }
        }
        &.unread{
          background:url("/images/red-piont.png") no-repeat 0 18px;
        }
      }

    }
  }
  .skin{
    height:140px;

    position:absolute;
    right:0;
    top:180px;
    .skin-title{
      background:url("/images/skinbg.png");
      width:40px;
      height:140px;
      display:inline-block;
      text-align:center;
      p{
        width:16px;
        display:inline-block;
        color:#fff;
        margin:50px 0;
      }
    }
  }
}