*{
  margin:0;
  padding:0;

  /*chrome滚动条样式*/
  ::-webkit-scrollbar {
    width:6px;
    height:6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color:#c2c2c2;
    background-clip:padding-box;
    border:1px solid #979797;
    min-height:28px;
    border-radius:3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    border:1px solid #636363;
    background-color:#929292;
  }
}
ul li{
  list-style:none;
}
a{
  text-decoration:none;
}
svg{
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
img{
  border:none;
}
body{
  display:flex;
  background:#eeeeee;
  font-family:"Microsoft Yahei";
  font-size:12px;
}
#nav{
  position:fixed;
  width:160px;
  background:linear-gradient( #304b57 5%, #4b6572 15%,#032332);;
  top:0;
  left:0;
  bottom:0;
  text-align:center;
  #logo{
    width:160px;
    height:147px;
    margin-top:25px;
  }
  .m-title{
    width:156px;
    height:170px;
    background:#000;
    border-left:4px solid #06afe1;
    img{
      width:114px;
      height:114px;
      border-radius:50%;
      margin:16px 0 10px;
    }
    p{
      color:#fff;
    }
  }
  ul{
    margin-top:40px;
    overflow-y:auto;
    max-height:380px;
    overflow-x:hidden;
    li{
      width:100%;
      height:55px;
      line-height:55px;
      &.active{
        background:#000;
        border-left:4px solid #06afe1;
        width:156px;
      }
      a{
        color:#fff;
        font-size:14px;
        opacity:0.5;
        position:relative;
        width:100%;
        display:inline-block;
        i{
          position:absolute;
          display:inline-block;
          width:5px;
          height:5px;
          background:#f82727;
          top:15px;
          border-radius:50%;
        }
        &:hover{
          color:#ddd;
        }
      }
    }
  }
}
#content{
  margin-left:160px;
  flex:1;
  width:100%;
  position:relative;
  .topmenu{
    height:80px;
    width:100%;
    background:#fff;
    .search{
      width:212px;
      height:35px;
      background:#e2e2e2;
      border-radius:20px;
      margin:22px 0 0 20px;
      float:left;
      input{
        border:none;
        height:30px;
        width:160px;
        margin:3px 0 0 13px;
        background:#e2e2e2;
        outline:none;

      }
      a{
        margin-left:8px;
        img{
          vertical-align:middle;
        }
      }
    }
    .user{
      float:right;
      margin-right:138px;
      position:relative;
      .username{
        float:left;
        a{
          color:#06afe1;
          font-size:14px;
          line-height:80px;
          font-weight:bold;
          i{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 4px 0 4px;
            border-color: #d2d2d2 transparent transparent transparent;
            display:inline-block;
            vertical-align:middle;
          }
        }

      }
      img{
        width:60px;
        height:60px;
        border-radius:50%;
        margin:10px;
      }
      .log{
        position:absolute;
        left:-5px;
        top:55px;
        width:50px;
        background:#fff;
        text-align:center;
        display:none;
        li{
          margin:5px 0;
          a{
            line-height:20px;
            color:#06afe1;
          }
        }
      }
    }
  }
  .announcement{
    background:#052e42;
    margin:30px 30px 0;
    color:#fff;
    padding:30px 40px;
    h2{
      font-size:16px ;
    }
    p{
      margin:10px 0 20px;
      font-size:14px;
      line-height:20px;
    }
    .read{
      font-size:14px;
      display:inline-block;
      width:80px;
      height:24px;
      text-align:center;
      line-height:24px;
      background:#06afe1;
      color:#fff;
      border-radius:3px;
    }
    .close{
      float:right;
      color:#fff;
      margin:-15px;
    }
  }
  .crumbs{
    font-family:"SimHei";
    margin:15px 20px;
    i{
      display:inline-block;
      width:5px;
      height:5px;
      background:#06afe1;
      vertical-align:5px;
    }
    ul{
      display:inline-block;
      li{
        float:left;
        margin:0 5px;
        a{
          color:#06afe1;
        }
        span{
          margin-left:4px;
        }
        &:last-child{
          a{color:#252525}
        }
      }
    }
  }
  .loadbar{
    width:100%;
    height:10px;
    background:linear-gradient(left,#e4e7e8,#2c4e5f,#052e42,#a8b5bb);
  }

  //主体内容部分
  .main{
    width: 100%;
    height: 100%;
    .all-module{
      margin: {
        top: 60px;
        left: 110px;
        right: 120px;
      }
      background-color: #dcdcdc;
      .one-line{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
          flex: 1;
          height: 250px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          perspective-origin:50% 50%;  //建立一个3D场景，这里以每个li标签为3D场景（透视效果，只影响子元素）
          perspective:2000px;//这个是观察的视角，类似摄像机镜头
          &:hover{
            .bg{
              transform: rotateX(90deg);
              top: 2px;
            }
          }
          .bg{
            width: 100%;
            height: 250px;
            padding: 0 10px;
            position: relative;
            transform-style: preserve-3d; //设置变换属性为3D，只对子元素有效
            transform: rotateX(0deg);
            transition: all 0.5s ease-out;
            //display: flex;
            //flex-direction: column;
            left: -20px;
            p{
              //flex: 2;
              width: 100%;
              height: 250px;
              position: absolute;
              display: flex;
              justify-content: center;
              flex-direction: column;
              border: {
                right: 1px;
                bottom: 1px;
                style: solid;
                color: #fff;
              }
              &.first{
                background: url("/images/new_index/01.jpg") no-repeat;
              }
              &.second{
                background: url("/images/new_index/02.jpg") no-repeat;
              }
              &.three{
                background: url("/images/new_index/03.jpg") no-repeat;
              }
              &.four{
                background: url("/images/new_index/04.jpg") no-repeat;
              }
              &.five{
                background: url("/images/new_index/05.jpg") no-repeat;
              }
              &.six{
                background: url("/images/new_index/06.jpg") no-repeat;
              }
              &.seven{
                background: url("/images/new_index/07.jpg") no-repeat;
              }
              &.eight{
                background: url("/images/new_index/08.jpg") no-repeat;
              }
              &.nine{
                background: url("/images/new_index/09.jpg") no-repeat;
              }
              &.ten{
                background: url("/images/new_index/10.jpg") no-repeat;
              }
              &.eleven{
                background: url("/images/new_index/11.jpg") no-repeat;
              }
              &.twelve{
                background: url("/images/new_index/12.jpg") no-repeat;
              }
              &.thirteen{
                background: url("/images/new_index/13.jpg") no-repeat;
              }
              &.fourteen{
                background: url("/images/new_index/14.jpg") no-repeat;
              }
              &.fifteen{
                background: url("/images/new_index/15.jpg") no-repeat;
              }
              &.sixteen{
                background: url("/images/new_index/16.jpg") no-repeat;
              }
              &.seventeen{
                background: url("/images/new_index/17.jpg") no-repeat;
              }
              &.eighteen{
                background: url("/images/new_index/18.jpg") no-repeat;
              }
              &.nineteen{
                background: url("/images/new_index/19.jpg") no-repeat;
              }
              &.twenty{
                background: url("/images/new_index/20.jpg") no-repeat;
              }
              &.twenty-one{
                background: url("/images/new_index/21.jpg") no-repeat;
              }
              &.twenty-two{
                background: url("/images/new_index/22.jpg") no-repeat;
              }
              &.twenty-three{
                background: url("/images/new_index/23.jpg") no-repeat;
              }
              &.twenty-four{
                background: url("/images/new_index/24.jpg") no-repeat;
              }
              &.twenty-five{
                background: url("/images/new_index/25.jpg") no-repeat;
              }
              &.twenty-six{
                background: url("/images/new_index/26.jpg") no-repeat;
              }
              &.twenty-seven{
                background: url("/images/new_index/27.jpg") no-repeat;
              }
              &.twenty-eight{
                background: url("/images/new_index/28.jpg") no-repeat;
              }&.twenty-nine{
                 background: url("/images/new_index/29.jpg") no-repeat;
               }&.thirty{
                  background: url("/images/new_index/30.jpg") no-repeat;
                }&.thirty-one{
                   background: url("/images/new_index/31.jpg") no-repeat;
                 }
              &.hidden{
                visibility: hidden;
              }
              &:nth-child(1){
                  transform: translateZ(125px);
                }
                &:nth-child(2){
                  transform: rotateX(-90deg) translateZ(125px);
                }

              a{
                display: block;
                text-align: center;
                vertical-align: middle;
                &.icon{
                  width: 40px;
                  height: 40px;
                  margin: 0 auto;
                  img{
                    text-align: center;
                    @extend .icon;
                  }
                }
                &.text{
                  color: #fff;
                  font-size: 26px;
                  text-align: center;
                  line-height: 52px;
                }
              }


            }
          }
        }
      }
    }

  }

}
#modal{
  position:fixed;
  width:55%;
  background:#fff;
  top:120px;
  left:25%;
  z-index:10;
  border-radius:10px;
  padding:30px;
  font-family:"SimHei";
  font-size:20px;
  display:none;
  .modal-title{
    color:#434343;
    border-bottom:1px dashed #a7a7a7;
    padding-bottom:14px;
    span{
      float:right;
    }
  }
  .modal-con{
    margin-bottom:100px;
    article{
      margin:30px 0 50px 0;
      span{
        color:#f65c5c;
      }
    }
  }
  .close{
    width:260px;
    height:50px;
    text-align:center;
    line-height:50px;
    color:#fff;
    background:#f65c5c;
    display:inline-block;
  }
}
#modalbg{
  position:absolute;
  background:#000;
  opacity:0.2;
  top:80px;
  bottom:0;
  left:160px;
  right:0;
  display:none;
}