.back {
  width: 1000.636px;
  height: 1000.678px;
}

.key {
  width: 1000.636px;
  height: 1000.678px;
}

.mail {
  width: 1000.636px;
  height: 1000.678px;
}

.man {
  width: 1000.636px;
  height: 1000.678px;
}

