@import "../common";
.right-section{
  flex: 1;
  height: 100%;
  background-color: #fdfdfd;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .top-content{

    .content{
      width:99%;
      height:auto;
      display:flex;
      flex-direction:column;
      margin-top:160px;
      &.notop-list{
        margin-top:110px;
      }
      .content-tab{
        max-height:530px;
        overflow-x:hidden;
        overflow-y:auto;
        //display:none;
        .table{
          width:100%;
          height:auto;
          margin:{
            top:20px;
            left:15px;
          }
          border:1px solid #fdfdfd;
          .list-head{
            display:flex;
            height:40px;
            background-color:#758c94;
            align-items:center;
            border-radius:5px 0;
            //padding-left:60px;
            span{
              flex:1;
              color:#fff;
              font-size:12px;
              margin:0 5px;
              &:first-child{
                flex:0 0 50px;
              }
            }
          }
          .list-all{
            width:100%;
            max-height:600px;
            overflow-y:auto;
            .odd{
              background-color:#f0f6f4;
            }
            .list-text{
              display:flex;
              line-height:40px;

              p{
                flex:1;
                color:#666;
                font-size:12px;
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
                margin:0 5px;
                &:first-child{
                  flex:0 0 50px;
                  text-align:center;
                }
                .more{
                  display:flex;
                  align-items:center;
                  width:72px;
                  height:22px;
                  justify-content:center;
                  background:url("/images/new_module/organization/radius.png") no-repeat;
                  color:#fff;
                  margin:10px 0;
                  font-size:12px;
                }
              }
            }
            .can{
              display:none;
              height: 145px;
              overflow-y: auto;
              padding:{
                top:32px;
                left:30px;
                bottom:26px;
                right:20px;
              }
              background-color:#737373;
              position:relative;
              &:before{
                content:"";
                width:0;
                height:0;
                border-style:solid;
                border-width:15px 20px 0 20px;
                border-color:#f0f6f4 transparent transparent transparent;
                position:absolute;
                left:50%;
                top:0;
                margin-left:-20px;
              }
              .can-see{
                li{
                  margin-bottom:5px;
                  .see-parent{
                    line-height:40px;
                    background-color:#474747;
                    color:#fff;
                    display:flex;
                    border-radius:5px 0;
                    padding-left:30px;
                    span{
                      flex:1;
                      font-size:12px;
                      margin:0 10px;
                      overflow:hidden;
                      text-overflow:ellipsis;
                      white-space:nowrap;

                    }
                  }
                  .see-children{
                    line-height:40px;
                    background-color:#5f5f5f;
                    color:#fff;
                    display:flex;
                    border-radius:0 5px;
                    padding-left:30px;
                    span{
                      flex:1;
                      font-size:12px;
                      color:#cfdde3;
                      cursor:pointer;
                      overflow:hidden;
                      text-overflow:ellipsis;
                      white-space:nowrap;
                      margin:0 10px;
                    }
                  }
                }
              }
              .module{
                display:none;
                .see-module{
                  width:392px;
                  height:286px;
                  background-color:#fff;
                  position:absolute;
                  top:60px;
                  left:50%;
                  margin-left:-196px;
                  box-shadow:0 4px 20px #6f6e6e;
                  border-radius:5px;
                  .see-type{
                    height:40px;
                    line-height:40px;
                    background-color:#f0f6f4;
                    font-size:12px;
                    color:#333;
                    border-radius:5px;
                    padding-left:15px;
                  }
                  .see-description{
                    height:206px;
                    font-size:12px;
                    color:#666;
                    display:flex;
                    padding:0 20px;
                    align-items:center;
                  }
                  .btn{
                    width:100%;
                    height:40px;
                    background-color:#758c94;
                    border-radius:0 0 5px 5px;
                    color:#fff;
                    font-size:14px;
                    cursor:pointer;
                  }
                }
              }
            }
          }
        }
      }
      .content-input{
        display: none;
        &.add,&.edit{
          display:none;
        }

        .input-list{
          display:flex;
          margin-bottom:60px;
          section{
            flex:1;
            ul{
              width:100%;
              display:flex;
              flex-wrap: wrap;
              li{
                margin:19px 0;
                display:flex;
                flex:0 0 50%;
                justify-content:center;
                align-items:center;
                &.required{
                  position: relative;
                  input{
                    border: 1px solid #1aafea;
                    &:hover{
                      box-shadow: 0 0 3px #1aafea;
                    }
                  }
                }
                label{
                  width:147px;
                  display: inline-block;
                  text-align: right;
                  em{
                    display: inline-block;
                    width: 112px;
                    text-align-last: justify;
                  }
                  i{
                    margin-right: 10px;
                  }
                  &:after{
                    content: '\FF1A';
                  }
                }
                input{
                  position: relative;
                  width:50%;
                  padding: {
                    left: 15px;
                    right: 15px;
                  }
                  height: 36px;
                  border: 1px solid #999999;
                  border-radius: 5px;
                  margin-left: 14px;
                }
                .selectBox{
                  position: relative;
                  i{
                    position: absolute;
                    z-index: 100;
                    top: 2px;
                    right: 15px;
                  }
                }
                .selectB1{
                  width: 65.5%;
                  left: 115px;
                  z-index: 111;
                  background-color: #f6f6f6;
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  a{
                    height: 29px;
                    line-height: 29px;
                    color: #343434;
                    padding: {
                      left: 15px;
                    };
                    &:hover{
                      background-color: #cbedf9;
                    }
                  }
                }
              }
            }
          }
        }
        .dataBottom{
          display:flex;
          justify-content:flex-end;
          align-items:center;
          margin-right:100px;
          span{
            display:flex;
            align-items:center;
            margin:0 55px;
            img{
              margin:5px 10px 0 0;
            }
          }
          button{
            color: white;
            width: 111px;
            height: 42px;
            font-size: 18px;
            cursor: pointer;
            background: url("/images/new_module/data/button.png") no-repeat;
          }
        }

      }
      .tab-item{
        display: block;
      }
    }
  }
}
