
@import "../base";

@font-face {
  font-family: 'myFont';
  src: url('/font-face/fonts/fang.ttf');
}
@font-face {
  font-family: 'myFashion';
  src: url('/font-face/fonts/fashion.ttf');
}
body{
  background-color: #fff;
}
@mixin big-box{
  width: 100%;
  display: flex;
  background-size:100% 100%;
  justify-content: center;
  align-items: center;
}
header{
  box-shadow: 0 0 0 0;
  border-bottom: 1px solid #e8e3e9;
}
.content-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px auto 10px;
  overflow: hidden;
  width: 100%;
  height: auto;
  .section-first{
    @include big-box;
    height: 600px;
    background: url("/images/activity/pinkbg.jpg") no-repeat center center;
    .show-address{
      width: 605px;
      height: 607px;
      background: url("/images/activity/food-mind.png") no-repeat center center;
      position: relative;
      cursor: pointer;
      .activity-address{
        position: absolute;
        left: 10%;
        top: 38%;
        font-family: "myFont";
        color: #fff;
        p{
          font-size: 18px;
          line-height: 32px;
        }
        .address-name{
          margin-bottom: 20px;
          p{
            font-size: 35px;
            margin-top: 10px;
            text-shadow: 0 5px 15px #bf3d52;
            &:nth-of-type(2){
              margin-left: 10px;

            }
            &:last-child{
              margin-top: 10px;
            }
          }
        }
        .activity-time{
          .time-data{
            width: 108px;
            height: 74px;
            background-color: #fe91a1;
            border-radius: 5px;
            color: #d10d0e;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0 8px 15px #c73b4f;
            transform:rotate(-2deg);
            p{
              transform:rotate(-6deg);
              &.line{
                width: 1px;
                height: 15px;
                background-color: #da6f07;
              }
              .year{
                font-size: 16px;
              }
              .month{
                font-size: 15px;
              }
              .day{
                font-size: 14px;
              }
            }
          }
        }
      }
      .activity-where{
        position: absolute;
        right: 41%;
        bottom: 21%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
          color: #000;
          font:{
            size: 20px;
            family: "myFashion";
          }
          &.center-line{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 3px;
            background: #000;
            margin: 25px 0;
          }
        }
      }
    }
    .right-praise{
      display: flex;
      flex-direction: column;
      margin-left: 10%;
      .same-effect{
        width: 65px;
        height: 65px;
        border: 5px solid #fff;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        color: #fff;
        svg{
          width: 26px;
          height: 26px;
          fill: #fff;
        }
        span{
          font-size: 10px;
        }
      }
    }
  }
  .section-second{
    @include big-box;
    flex-direction: column;
    height: 773px;
    background: url("/images/activity/food-center.jpg") no-repeat center center;
    .second-content{
      width: 1200px;
      height: 773px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .detail-title{
        width: 358px;
        height: 62px;
        text-align: center;
        line-height: 62px;
        background: url("/images/activity/food-detail.png") no-repeat;
        color: #fff;
      }
      .join{
        display: flex;
        align-self: flex-end;
        font-size: 14px;
        margin-top: 10px;
        height: 40px;
        .want-join{
          width: 116px;
          height: 38px;
          line-height: 38px;
          text-align: center;
          color: #fff;
          background: url("/images/activity/joinbtn.png") no-repeat;
        }
        .hold{
          display: flex;
          align-items: center;
          height: 38px;
          margin-left: 30px;
          font-size: 16px;
          a{
            display: flex;
            background: url("/images/activity/hold.png") no-repeat left center;
            color: #fff;
            padding-left: 40px;
          }

        }
      }
      .join-detail{
        display: flex;
        flex: 1;
        flex-direction: column;
        font-size: 14px;
        color: #fff;
        li{
          height: 45px;
          line-height: 22px;
          &.two{
            margin-bottom: 30px;
          }
          &:last-child{
            margin-bottom: 35px;
          }
          .top-word{
            font-size: 16px;
            color: #eaffad;
          }
          .dashed{
            display: flex;
            flex: 2;
            border-top:1px dashed #eaffad;
            margin-top: -10px;
            margin-left: 80px;
          }
          .select-ordinal{
            display: flex;
            flex-direction: column;
            margin-left: 20px;
          }
        }
      }
    }

  }
  .section-third{
    @include big-box;
    height: 685px;
    flex-direction: column;
    background: url("/images/activity/pink-under.jpg") no-repeat center center;
    .previous-title{
      width: 358px;
      height: 62px;
      text-align: center;
      line-height: 62px;
      background: url("/images/activity/food-ago.png") no-repeat;
      color: #fff;
    }
    .previous-pic{
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      li{
        display: flex;
        flex-direction: column;
        &:nth-of-type(2){
          margin: 0 15px;
          a{
            &:first-child{
              margin-bottom: 10px;
            }
          }
        }
        &:last-child{
          margin-left: 15px;
          a{
            &:first-child{
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}