@import "../base";
body{
  background:linear-gradient(#134158,#13435a,#091418);
}
.mainwrap{
  width:1260px;
  margin:0 auto;
  position:relative;
  #menu{
    position:absolute;
    left:0;
    top:3.75rem;
    width:15%;
    ul{
      li{
        flex:1;
        display:flex;
        height:80px;
        justify-content:center;
        border-bottom:1px solid #666;
        &:last-child{
          border-bottom:none;
        }
        a{
          display:flex;
          align-self:center;
          font-size:1.375rem;
          align-items:center;
          color:#646569;
          img{
            width:50px;
            height:50px;
            display:flex;
            align-self:center;
            margin-top:5px;
          }
        }
      }
    }
  }
  #dowebok{
    width:250px;
    margin-left:150px;
    .section{
      margin-left:15%;
      .wrap{
        width:65.625rem;
        position:absolute;
        top:70px;
        .w-bg{
          position:absolute;
          border-radius:5px;
          padding-left:20px;
          h2{color:#bababa;font-size:20px;}
          i{ color:#646569; font-size:0.75rem;border-left:4px solid #d62722; padding-left:5px;}
          article{
            width:1060px;
            height:380px;
            position:absolute;
            top:80px;
            left:-30px;
            border-radius:5px;
            &.banner1{
              background:url("/images/indiana/banner1.png");
              background-size:100% 100%;
              .nowgobtn{
                background:url("/images/indiana/nowbtn_w.png") no-repeat;
                background-size:100% 100%;
                top:180px;
                left:175px;
              }
            }
            &.banner2{
              background:url("/images/indiana/banner2.png");
              background-size:100% 100%;
              .nowgobtn{
                background:url("/images/indiana/nowbtn_r.png") no-repeat;
                background-size:100% 100%;
                top:180px;
                left:175px;
              }
            }
            &.banner3{
              background:url("/images/indiana/banner3.png");
              background-size:100% 100%;
              .nowgobtn{
                background:url("/images/indiana/nowbtn_g.png") no-repeat;
                background-size:100% 100%;
                top:175px;
                left:160px;

              }
            }
            .nowgobtn{
              position:absolute;
              background-size:100% 100%;
              width:60px;
              height:20px;

            }
            .t-btn{
              display:flex;
              margin-left:40px;
              a{
                display:flex;
                width:26px;
                height:26px;
                justify-content:center;
                align-self:center;
                background:#fff;
                color:#000;
                font-size:20px;
                border-radius:50%;
                margin:-10px 10px;
              }
            }
          }
        }
        .w-con{
          position:absolute;
          right:40px;
          ul{
            display:flex;
            margin-bottom:10px;
            justify-content:center;
            li{
              position: relative; //定位
              width:220px;
              height:285px;
              box-shadow:0 0 5px #666;
              margin:0 5px;
              background:#fff;
              font-size:12px;
              overflow: hidden;
              &.visibity{
                visibility:hidden;
              }
              img{
                width:220px;
                height:140px;
              }
              p{
                //margin:2px 0;
                padding:0 17px 0 6px;
              }
              .w-con-t{
                a{
                  color:#2d2d2d;
                }
              }
              .between{
                display:flex;
                justify-content:space-between;
                &.cold7{
                  color:#979797;
                }
              }
              .progress{
                display:flex;
                justify-content:center;
                margin: 14px 0 0 0;
                .barbg{
                  width:98%;
                  border-radius:5px;
                  background:#ccc;
                  height:8px;
                  position:relative;
                  overflow:hidden;
                  i{
                    background:linear-gradient(left,#11ec98,#14e4f1);
                    height:8px;
                    width:50%;
                    position:absolute;
                  }
                }
              }
              .btn{
                margin-top:5px;
                .ind-btn{
                  color:#21c5ea;
                  border:1px solid #21c5ea;
                  padding:6px;
                  border-radius:3px;
                }
                .cart-btn{
                  background:url("/images/indiana/cart.png") no-repeat;
                  width:30px;
                  height:30px;
                }
              }
            }
          }
          .w-uesr{
            display:flex;
            justify-content:flex-end;

            p{
              align-self:center;
              color:#504e51;
              display:flex;
              &.user-list{
                a{
                  width:40px;
                  height:40px;
                  background:#999;
                  border-radius:50%;
                  margin:0 10px;
                }

              }
            }
            .moreuser{
              width:40px;
              height:40px;
              margin-left:25px;
              display:flex;
              align-items:center;
            }
          }
        }
      }
    }
    .footer{
      background:none;
      .footerwrap{
        width:1000px;
        margin:0 auto;
        ul{
          display:flex;
          justify-content:center;
          li{
            display:flex;
            flex-direction:column;
            align-items:center;
            flex:1;
            img{
              width:2rem;
              margin-bottom:1rem;
            }
            a{
              margin:0.5rem 0;
              color:#c9c9c9;
            }
          }
        }
        .copyright{
          width:50rem;
          margin:0 auto;
          div{
            display:flex;
            justify-content:space-around;
            align-items: center;
            line-height: 28px;
            color:#666;
          }

        }
      }
    }
    .animate1{
      top:-2200px;
      transition: all 1s;
      opacity:0;
    }
    .animate2{
     top:-2000px;
      transition: all 1.5s;
      opacity:0;
    }
    .active .animate1{
      top:0;
      opacity:1;
    }
    .active .animate2{
      top:290px;
      transition-delay: 0.3s;
      opacity:1;
    }
  }
}

//新修改的样式
.tages{
  height: 22px;
  overflow: hidden;
  margin: 12px 15px 0 1px;
  display: flex;
  flex-direction: row;
  a{
    padding: 0 8px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #e6e6e6;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #a5a5a5;
    margin-right: 5px;
    cursor: pointer;
    transition: all .5s;
  }
}
.p-i-infos{
  display: flex;
  margin: {
    top:10px;
    left: 5px;
  };
  span{
   text-align: left;
    &:nth-of-type(1){
      flex: 1;
    }
    &:nth-of-type(2){
          flex: 1.2;
    }
    &:nth-of-type(3){
      flex: 0.8;
    }
  }
}
.p-infos{
  display: flex;
  color: #999999;
  margin-left: 5px;
  span{
    text-align: left;
    &:nth-of-type(1){
      flex: 1;
    }
    &:nth-of-type(2){
      flex: 1.2;
    }
    &:nth-of-type(3){
      flex: 0.8;
    }
  }
}
.title-position{
  position: absolute;
  top: 7px;
  left: -23px;
  width: 90px;
  height: 30px;
  z-index: 1;
  text-align: center;
  transform: rotate(-45deg);
  i{
    width: 90px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#22c2eb, endColorStr=#19dce4);
    background: -ms-linear-gradient(left, #22c2eb,#19dce4);
    background: -moz-linear-gradient(left, #22c2eb,#19dce4);
    background: -webkit-linear-gradient(left, #22c2eb,#19dce4);
    background-color: #22c2eb;
  }
  span{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
  }
}

