@import "../data/data_number";
.dataLeft{
  width: 45%;
  ul.data03{
    li{
      margin-top: 38px;
      &.veryImportant{
        input{
          border: 1px solid #1aafea;
          &:hover{
            box-shadow: 0 0 3px #1aafea;
          }
        }
      }
      label{
        width:100px;
        display: inline-block;
        text-align: right;
        em{
          display: inline-block;
          width: 58px;
          text-align-last: justify;
        }
        i{
          margin-right: 10px;
        }
        &:after{
          content: '\FF1A';
        }
      }
      input{
        padding: {
          left: 15px;
          right: 15px;
        };
        height: 36px;
        border: 1px solid #999999;
        border-radius: 5px;
        width: 65%;
        margin-left: 14px;
      }
    }
  }
}
//物资入库页面
.selectBox{
  position: relative;
  i{
    position: absolute;
    z-index: 100;
    top:2px;
    right:15px;
  }
}
.veryImportant{
  position: relative;
}
.selectB1{
  //display: none;
  width: 71%;
  left: 115px;
  z-index: 111;
  background-color: #f6f6f6;
  position: absolute;
  display: flex;
  flex-direction: column;
  a{
    height: 29px;
    line-height: 29px;
    color: #343434;
    padding: {
      left: 15px;
    };
    &:hover{
      background-color: #cbedf9;
    }
  }
}
.addImage{
  background: url("/images/new_module/data/date.png") no-repeat right 16px center;
}
.boxSe{
  background: url("/images/new_module/data/down.png") no-repeat right 16px center;
}
//日历颜色
.pika-title{
  background-color: #00c6ff;
}
.is-selected .pika-button {
  background: #00c6ff;
  box-shadow: inset 0 1px 3px #88ae47;
}
.pika-single:before {
  content: '';
  border-color: transparent transparent #00c6ff transparent;
}
.is-today .pika-button {
  color: #00c6ff;
  font-weight: bold;
}
.is-selected .pika-button {
  background: #00c6ff;
  box-shadow: inset 0 1px 3px #00c6ff
}
.pika-button:hover {
  background: #00c6ff;
}