//浏览器重置样式
html, body, div, span, nav, header, iframe,
h1, h2, h3, h4, h5, h6, p, section, footer,
a, form, address, big, cite, code,
del, dfn, em, img, ins, fieldset, q, s, samp,
small, strike, strong, sub, sup,label, var,
b, u, i,input, dl, dt, dd, ol, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
$main-font: "Microsoft YaHei";
html,body{
  font:{
    size: 16px;
    family: $main-font;
  }
}
.chat-room{
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  font-family:  $main-font;
}
form,fieldset{
  border: 0 none;
}
ol,ul{
  list-style: none;
}
img{
  border: 0 none;
  max-width: 100%;
}
input{
  outline: none;
  font-family: $main-font;
}
button{
  border: 0;
  font-family: $main-font;
}
i,em{
  font-style: normal;
}
a {
  color: #535353;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
svg{
  width: 28px;
  height: 28px;
  vertical-align: middle;
}

header{
  display: flex;
  flex: 1;
  height: 60px;
  width: 100%;
  background-color: #fff;
  flex-wrap: nowrap;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  .chat-life{
    flex: 0 0 10em;
    flex-wrap: nowrap;
    text-align: center;
    .life{
      width: 126px;
      height: 126px;
      fill: #567da4;
      margin-top: -28px;
    }
  }
  .header-icon{
    display: flex;
    flex: 2.5;
    background-color: #fff;
    flex-wrap: nowrap;
    margin-top: 5px;
    li{
      flex: 0 0 21%;
      text-align: center;
      cursor: pointer;
      svg{
        width: 26px;
        height: 28px;
        fill: #565b61;
      }
      .icon-text{
        color: #555b61;
        display: block;
      }
    }
  }
  .myself{
    flex: 3;
    display: block;
    justify-content:center;
    text-align: center;
    line-height: 60px;
    .news{
      width: 37px;
      height: 41px;
      fill: #80a8cc;
    }
  }
  .search-input{
    display: flex;
    flex: 2;
    margin-top: 12px;
    .input-box{
      display: flex;
      flex:5;
      height: 40px;
      justify-content: flex-end;
      border:1px solid #cfcfcf;
      border-radius: 40px;
      background-color: #fff;
      text-align: center;
      padding-left: 20px;
      .search{
        height: 40px;
        flex: 6;
        font-family: $main-font;
      }
      .magnifier{
        flex: 1;
        fill: #80a8cc;
        margin-top: 5px;
        margin-right: 5px;
      }
    }
    .photo{
      display: flex;
      justify-content: flex-end;
      margin:{
        left: 50px;
        right: 24px;
      }
      border-radius: 50%;
      .head-photo{
        width: 45px;
        height: 45px;
        display: block;
      }
      .modal-message{
        position: absolute;
        z-index: 100;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 80px;
        margin-right: 20px;
        background-color: #fff;
        box-shadow: 0 2px 15px #ccc;
        //display: none;
        .triangle{
          position: absolute;
          right:5px;
          top:-15px;
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right:20px solid transparent;
          border-bottom: 20px solid #fff;
        }
        .get-info{
          display: flex;
          flex-direction: column;
          background-color: #fff;
          a{
            flex: 1;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &.me{
              border-bottom:1px solid #dcdcdc;
            }
            svg{
              width: 30px;
              height: 26px;
              fill: #80a8cc;
              margin: 0 15px;
            }
            span{
              color: #333;
              font-size: 14px;
            }
            strong{
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #f2504e;
              color: #fff;
              height: 16px;
              line-height: 16px;
              border-radius: 10px;
              margin: 0 10px;
              padding: 0 10px;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

//content style
.my-message{
  display: flex;
  flex: 1;
  margin:{
    top: 100px;
    right: 20%;
    left: 20%;
  }
  overflow: auto;
  .slider-nav{
    width: 240px;
    position: fixed;
    bottom: 0;
    top: 0;
    margin-top: 100px;
    background-color: #80a8cc;
    h4{
      color: #fff;
      line-height: 32px;
      padding: {
        top: 10px;
        left: 15px;
      }
    }
    .my-like{
      display: flex;
      flex-direction: column;
      li{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-start;
        color: #fff;
        height: 50px;
        cursor: pointer;
        &.current{
          background-color: #567ea3;
          strong{
            display: none;
          }
          .cur{
            display: none;
          }
          .current{
            width: 10px;
            height: 10px;
            fill: #fff;
            margin:{
              left: 15px;
              right: 8px;
            }
          }
        }
        i{
          width: 8px;
          height: 8px;
          background-color: #fff;
          border-radius: 50%;
          margin:{
            left: 15px;
            right: 8px;
          }
        }
        a{
          flex: 0 0 6em;
          color: #fff;
        }
        strong{
          height: 20px;
          background-color: #f05050;
          padding: 0 8px;
          border-radius: 10px;
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }
  .main{
    flex: 1;
    margin-left: 270px;
    display: flex;
    flex-direction: column;
    .received-praise{
      background-color: #fff;
      height: 38px;
      line-height: 38px;
      padding-left: 20px;
      box-shadow: 0 1px 5px #e8e8e8;
      position: relative;
      &::after{
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 8px solid #efefef;
        position: absolute;
        bottom: 0;
        left: 45px;
        box-shadow: 0 1px 5px #e8e8e8;
      }
      p{
        color: #555b61;
        font-size: 14px;
      }
    }
    .person-praise{
      display: flex;
      flex-direction: column;
      li{
        display: flex;
        background-color: #fff;
        margin-top: 8px;
        padding: {
          top: 15px;
          left: 20px;
          right: 20px;
          bottom: 10px;
        }
        .praise-pic{
          margin-right: 10px;
        }
        .right-text{
          flex: 1;
          h5{
            color: #333;
            font:{
              size: 16px;
              family: "SimHei";
            }
            line-height: 25px;
          }
          .review{
            font-size: 14px;
            color: #666;
          }
          .other-reproduced{
            background-color: #e4ecf3;
            padding: 8px;
            font: {
              size: 12px;
            }
            color: #666;
            margin: 5px 0 10px;
            line-height: 18px;
            .gray{
              color: #999;
            }
          }
          span{
            font-size: 12px;
            color: #666;
            line-height: 20px;
          }
        }
      }
    }
    .pagination-click{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px 0;
      margin-top: 20px;
      li{
        text-align: center;
        line-height: 26px;
        font-family: "SimHei";
        font-size: 14px;
        margin: 0 8px;
        &.active{
          width: 26px;
          height: 26px;
          background-color: #80a8cc;
          color: #fff;
        }
        &.next{
          font-weight: bold;
        }
        a{
          color: #454c54;
        }

      }
    }
  }
}