//浏览器重置样式
html, body, div, span, nav, header, iframe,
h1, h2, h3, h4, h5, h6, p, section, footer,
a, form, address, big, cite, code,
del, dfn, em, img, ins, fieldset, q, s, samp,
small, strike, strong, sub, sup,label, var,
b, u, i,input, dl, dt, dd, ol, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
$main-font: "Microsoft YaHei";
html,body{
  font:{
    size: 16px;
    family: $main-font;
  }
}
.chat-room{
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  font-family:  $main-font;
}
form,fieldset{
  border: 0 none;
}
ol,ul{
  list-style: none;
}
img{
  border: 0 none;
  max-width: 100%;
}
input{
  outline: none;
  font-family: $main-font;
}
button{
  border: 0;
  font-family: $main-font;
}
i,em{
  font-style: normal;
}
a {
  color: #535353;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
svg{
  width: 28px;
  height: 28px;
  vertical-align: middle;
}

header{
  display: flex;
  flex: 1;
  height: 60px;
  width: 100%;
  background-color: #fff;
  flex-wrap: nowrap;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  .chat-life{
    flex: 0 0 10em;
    flex-wrap: nowrap;
    text-align: center;
    .life{
      width: 126px;
      height: 126px;
      fill: #567da4;
      margin-top: -28px;
    }
  }
  .header-icon{
    display: flex;
    flex: 2.5;
    background-color: #fff;
    flex-wrap: nowrap;
    margin-top: 5px;
    li{
      flex: 0 0 21%;
      text-align: center;
      cursor: pointer;
      svg{
        width: 26px;
        height: 28px;
        fill: #565b61;
      }
      .icon-text{
        color: #555b61;
        display: block;
      }
    }
  }
  .myself{
    flex: 3;
    display: block;
    justify-content:center;
    text-align: center;
    line-height: 60px;
    .my{
      width: 37px;
      height: 41px;
      fill: #80a8cc;
    }
  }
  .search-input{
    display: flex;
    flex: 2;
    margin-top: 12px;
    .input-box{
      display: flex;
      flex:5;
      height: 40px;
      justify-content: flex-end;
      border:1px solid #cfcfcf;
      border-radius: 40px;
      background-color: #fff;
      text-align: center;
      padding-left: 20px;
      .search{
        height: 40px;
        flex: 6;
        font-family: $main-font;
      }
      .magnifier{
        flex: 1;
        fill: #80a8cc;
        margin-top: 5px;
        margin-right: 5px;
      }
    }
    .photo{
      justify-content: flex-end;
      margin:{
        left: 50px;
        right: 24px;
      }
      border-radius: 50%;
      position: relative;
      @at-root .modal-message{
        position: absolute;
        z-index: 100;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 80px;
        margin-right: 20px;
        background-color: #fff;
        box-shadow: 0 2px 15px #ccc;
        //display: none;
        .triangle{
          position: absolute;
          right: -15px;
          top:-15px;
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right:20px solid transparent;
          border-bottom: 20px solid #fff;
          margin: 0;
          padding: 0;
        }
        .get-info{
          display: flex;
          flex-direction: column;
          background-color: #fff;

          a{
            flex: 1;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: -10px;
            &.me{
              border-bottom:1px solid #dcdcdc;
            }
            &.my-news{
              margin-top: 0px;
            }
            svg{
              width: 20px;
              height: 23px;
              fill: #80a8cc;
              margin: 0 15px;
            }
            span{
              display: flex;
              align-items: center;
              color: #333;
              font-size: 14px;
            }
            strong{
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #f2504e;
              color: #fff;
              height: 16px;
              line-height: 16px;
              border-radius: 10px;
              margin: 0 10px;
              padding: 0 10px;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
.chat-content{
  display: flex;
  flex: 1;
  height: auto;
  margin-top: 60px;
  overflow: auto;
  .content-center{
    flex: 1;
    flex-direction: column;
    display: flex;
    //margin-left: 26%;
    margin: 0 5%;
    .center-header{
      display: flex;
      background-color: #fff;
      margin: 50px 0 30px;
      height: 62px;
      align-items: center;
      justify-content: center;
      flex: 0 0 62px;
      border: {
        right: 1px;
        bottom: 2px;
        style: solid;
        color: #e2e2e2;
      }
      a{
        flex: 1;
        text-align: center;
        cursor: pointer;
        align-content: center;
        &.current{
          border-bottom: 5px solid #80a8cc;
        }
        strong{
          display: block;
          line-height: 24px;
          &.text{
            color: #949EA7;
            font-family:"SimHei";
            padding-top: 8px;
          }
          &.number{
            color: #333;
            font-size: 18px;
          }
        }

      }
    }
    .content-box{
      display: flex;
      flex: 1;
      flex-direction: column;
      .article{
        display: flex;
        flex-direction: column;
        li{
          display: flex;
          flex: 1;
          background-color: #fff;
          border: {
            bottom: 2px;
            right: 1px;
            style: solid;
            color: #e0e0e0;
          }
          padding: {
            top: 20px;
            left: 40px;
            bottom: 15px;
            right: 20px;
          }
          margin-bottom: 30px;
          .article-left{
            flex: 3;
            margin-right: 10px;
            h2{
              font:{
                size: 25px;
                family: "SimHei";
              }
              color: #555b61;
              line-height: 50px;
            }
            .time{
              display: block;
              color: #666;
              height: 30px;
            }
            .items-text{
              font-size: 14px;
              color: #b1b1b1;
              line-height: 20px;
            }
            .team{
              display: flex;
              flex: 1;
              align-items: center;
              margin-top: 20px;
              span{
                color: #666;
              }
              a{
                display: flex;
                margin-left: 20px;
              }
            }
          }
          .article-pic{
            flex: 1;
            margin: 0 1%;
            img{
              border-radius: 10px;
              box-shadow: 0 0 10px 2px #eceeeb;
            }
          }
        }
      }
      .pagination-click{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        li{
          text-align: center;
          line-height: 26px;
          font-family: "SimHei";
          font-size: 14px;
          margin: 0 8px;
          &.active{
            width: 26px;
            height: 26px;
            background-color: #80a8cc;
            color: #fff;
          }
          &.next{
            font-weight: bold;
          }
          a{
            color: #454c54;
          }

        }
      }
    }

  }
  .content-right{
    flex: 0 0 15%;
    background-color: #fff;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    h2{
      flex: 0 0 2em;
      font-size: 18px;
      color: #454c54;
      line-height: 36px;
      padding: {
        left: 15px;
        top: 10px;
        bottom: 10px;
      }
      border-bottom:1px solid #efefef;
    }
    .friend{
      display:flex;
      flex: 1;
      flex-direction: column;
      li{
        display: flex;
        margin: {
          left: 15px;
          top: 20px;
        }
        padding-bottom: 20px;
        border-bottom:1px solid #efefef;
        .friend-pic{
          margin: 0 8px;
        }
        .right-text{
          cursor: pointer;
          h4{
            display: flex;
            align-items: center;
            line-height: 32px;
            span{
              width: 14px;
              height: 14px;
              background-color: #bababa;
              border-radius: 50%;
              margin-left: 10px;
              &.new-friend{
                background-color: #46d434;
              }
            }
          }
          p{
            font-size: 12px;
            color: #999;
          }
        }
      }
    }
  }
  .content-left{
    flex: 0 0 25%;
    //个人信息导航放到最左边
    order:-1;
    background-color: #80a8cc;
    //position: fixed;
    max-width: 400px;
    width: 26%;
    //top:60px;
    //left: 0;
    //bottom: 0;
    overflow: auto;
    .avatar{
      li{
        justify-content: center;
        align-items:center;
        display: flex;
        flex-direction: column;
        &.text-company{
          width: 60%;
          margin: 0 auto;
          p{
            align-self: flex-start;
          }
        }
        .head-portrait{
          display: block;
          width: 144px;
          height: 144px;
          margin-top: 50px;
          position: relative;
          .editor{
            position: absolute;
            bottom: 10%;
            right: 0;
          }
        }
        strong{
          color: #fff;
          font-size: 20px;
          padding: 2% 0 3%;
        }
        p{
          color: #fffeff;
          line-height: 26px;
          align-self: flex-start;
          font-size: 100%;
       }
        .attention{
          width: 50%;
          height:40px;
          background-color: #567ea2;
          color: #fff;
          text-align: center;
          line-height: 40px;
          border-radius: 50px;
          margin:{
            top: 30px;
            bottom: 60px;
          }
        }
      }
    }
    .life-pic{
      font-size: 0;
      li{
        display: flex;
        font-size: 0;
        .live{
          flex: 1;
          img{
            min-width: 100%;
          }
        }
      }

    }
    .trend{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      margin:{
        top: 20px;
        left: 15%;
      }
      h4{
        color: #fff;
        line-height: 35px;
      }
      .info{
        line-height: 26px;
        font-size: 12px;
        a{
          color: #567ea3;
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }
}