@import "../base";
.chat-content{
  display: flex;
  flex: 1;
  height: auto;
  margin-top: 60px;
  //center
  .content-center{
    flex: 1;
    flex-direction: column;
    display: flex;
    margin: {
      left: 22%;
      right: 3%;
    }
    .center-header{
      background-color: #fff;
      margin: 50px 0 30px;
      height: 62px;
      border: {
        right: 1px;
        bottom: 2px;
        style: solid;
        color: #e2e2e2;
      }
      a{
        display: inline-block;
        width: 271px;
        text-align: center;
        cursor: pointer;
        align-content: center;
        &.current{
          border-bottom: 5px solid #80a8cc;
        }
        strong{
          display: block;
          line-height: 24px;
          &.text{
            color: #949EA7;
            font-family:"SimHei";
            padding-top: 9px;
          }
          &.number{
            color: #333;
            font-size: 18px;
          }
        }

      }
    }
    //动态样式
    .content-box{
      background-color: #fff;
      border-right:1px solid #e0e0e0;
      .details{
        background-color: #fff;
        border-bottom:1px solid #e0e0e0;
        .rely{
          display: flex;
          padding: {
            top: 30px;
            left: 40px;
            bottom: 30px;
            right: 30px;
          }
          .people-pic{
            margin-right: 2%;
          }
          .details-text{
            flex: 1;
            h3{
              height: 28px;
              color: #3c444c;
              font:{
                size: 18px;
                family: SimHei;
              }
              cursor: pointer;
            }
            p{
              line-height: 20px;
              font-size: 14px;
              color: #666;
              margin-bottom: 10px;
            }
            .picture{
              display: block;
              &.same-big{
                height: 147px;
                overflow: hidden;
              }
            }

            .reproduced{
              display: flex;
              background-color: #e3ecf3;
              padding: {
                top: 10px;
                left: 16px;
                bottom:10px;
                right: 20px;
              }
              margin-top: 10px;
              .reproduced-left{
                margin-right: 1%;
              }
              .reproduced-right{
                flex: 1;
                h4{
                  font-size: 12px;
                  color: #41464c;
                  line-height: 24px;
                }
                p{
                  font-size: 12px;
                }
              }
            }
            .click-btn{
              display: flex;
              cursor: pointer;
              padding-top: 10px;
              align-items: center;
              li{
                margin-right: 2%;
                svg{
                  width: 20px;
                  height: 18px;
                  fill: #cdcdcd;
                  &.heart{
                    fill: #cdcdcd;
                  }
                  &.current{
                    fill: red;
                  }

                }
                span{
                  font-size: 14px;
                  color: #cdcdcd;
                }
              }
            }
          }
        }
      }

      //关注和粉丝样式
      .cancel-attention{
        padding: {
          left: 30px;
          right: 30px;
          top: 20px;
        }
        margin-bottom: 30px;
        .my-attention{
          display: flex;
          flex: 1;
          align-items: center;
          h4{
            flex: 1;
            justify-content: flex-start;
            color: #555b61;
            font-size: 18px;
          }
          .my-search{
            display: flex;
            height: 40px;
            border: 1px solid #efefef;
            line-height: 40px;
            border-radius: 40px;
            align-items: center;
            padding-left: 20px;
            justify-content: flex-end;
            .search{
              line-height: 40px;
              height:40px;
              font-size: 12px;
              color: #bababa;
            }
            .magnifier{
              fill: #80a8cc;
              padding-right: 10px;
            }
          }
        }
        .concerned-people{
          flex: 1;
          .attention-name{
            display: flex;
            margin-top: 20px;
            li{
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              flex: 1;
              //height: 180px;
              background-color: #e9edf0;
              align-items: center;
              margin: {
                right: 30px;
                bottom: 15px;
              }
              padding: {
                bottom: 5px;
              }
              &:last-child{
                margin-right: 0;
              }
              .head-pic{
                display: block;
                width: 69px;
                height: 69px;
                border-radius: 50%;
                margin-top: 10px;
              }
              h5{
                font-size: 14px;
                color: #333;
                line-height: 26px;
              }
              span{
                display: block;
                font-size: 12px;
                color: #6c6c6c;
              }
              .attention-click{
                display: flex;
                margin-bottom: 10px;
                width:100%;
                justify-content:center;
                a{
                  display: flex;
                  justify-content: center;
                  background-color: #fff;
                  color: #333;
                  flex:1;
                  font:{
                    size: 14px;
                    weight: bold;
                  }
                  padding: {
                    top: 5px;
                    bottom: 5px;
                  }
                  border-radius: 2px;
                  margin:{
                    top: 15px;
                    right: 5px;
                    left: 5px;
                  }
                  &:hover{
                    background-color: #80a8cc;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
      .pagination-click{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
        background-color: #fff;
      }
    }

    //荣誉
    .honor-box{
      display: flex;
      flex: 1;
      flex-direction: column;
      .article{
        li{
          display: flex;
          flex: 1;
          background-color: #fff;
          border: {
            bottom: 2px;
            right: 1px;
            style: solid;
            color: #e0e0e0;
          }
          padding: {
            top: 20px;
            left: 40px;
            bottom: 15px;
          }
          margin-bottom: 30px;
          .article-left{
            flex: 3;
            margin-right: 10px;
            h2{
              font:{
                size: 25px;
                family: "SimHei";
              }
              color: #555b61;
              line-height: 50px;
            }
            .time{
              display: block;
              color: #666;
              height: 30px;
            }
            .items-text{
              font-size: 14px;
              color: #b1b1b1;
              line-height: 20px;
            }
            .team{
              display: flex;
              flex: 1;
              align-items: center;
              margin-top: 20px;
              span{
                color: #666;
              }
              a{
                display: flex;
                margin-left: 20px;
              }
            }
          }
          .article-pic{
            flex: 1;
            margin-left: 10px;
            img{
              border-radius: 10px;
              box-shadow: 0 0 10px 2px #eceeeb;
            }
          }
        }
      }
      .pagination-click{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
      }
    }
  }
  //left
  .content-left::-webkit-scrollbar {display:none;}
  .content-left{
    -ms-overflow-style: scrollbar;
  }
  .content-right::-webkit-scrollbar {display:none;}
  .content-left{
    background-color: #80a8cc;
    position: fixed;
    max-width: 360px;
    width: 24%;
    overflow: auto;
    bottom: 0;
    top: 60px;
    left:0;
    z-index: 10;
    overflow-x: hidden;
    .avatar{
      li{
        justify-content: center;
        align-items:center;
        display: flex;
        flex-direction: column;
        &.text-company{
          margin-left:60px;
        }
        .head-portrait{
          display: block;
          width: 144px;
          height: 144px;
          margin-top: 25px;
          position: relative;
          .editor{
            position: absolute;
            bottom: 10%;
            right: 0;
          }
        }
        strong{
          color: #fff;
          font-size: 20px;
          padding: 2% 0 3%;
        }
        p{
          color: #fffeff;
          line-height: 26px;
          align-self: flex-start;
          font-size: 100%;
       }
        .attention{
          display: block;
          width: 50%;
          height:40px;
          background-color: #567ea2;
          color: #fff;
          text-align: center;
          line-height: 40px;
          border-radius: 50px;
          margin:{
            top: 20px;
            bottom: 30px;
          }
        }
      }
    }
    .life-pic{
      font-size: 0;
      li{
        display: flex;
        font-size: 0;
        .live{
          width: 120px;
          height: 120px;
          display: inline-block;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }

    }
    .trend{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      margin:{
        top: 10px;
        left: 15%;
      }
      h4{
        color: #fff;
        line-height: 35px;
      }
      .info{
        line-height: 26px;
        font-size: 12px;
        a{
          color: #567ea3;
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }

  //right
  .content-right{
    flex: 0 0 15%;
    margin-top: 50px;
    background-color: #fff;
    height: auto;
    h2{
      font-size: 18px;
      color: #454c54;
      line-height: 36px;
      padding: {
        left: 10px;
        top: 10px;
        bottom: 10px;
      }
      border-bottom:1px solid #efefef;
      background-color: #fff;
    }
    .friend{
      height: auto;
      background-color: #fff;
      li{
        display: flex;
        padding: {
          left: 15px;
          top: 20px;
          bottom: 20px;
        }
        border-bottom:1px solid #efefef;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        margin-left: 10px;
        background: #fff;
        &:last-child:hover{
          .all-info{
            top: -50px;
          }
        }
        &:hover{
          .all-info{
            display: block;
            padding-right:20px;
          }
        }
        .pop-info{
          display: flex;
          background-color: #fff;
          box-shadow: 0 3px 10px #eee;
          align-items: center;
          justify-content: center;
          padding-right: 30px;
          @at-root .all-info{
            display: none;
            position: absolute;
            left: -370px;
            top: -30px;
            z-index: 1000;
          }
          .big-head{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
          }
          .pop-text{
            padding-top: 10px;
            p{
              font: {
                size: 12px;
                weight: bold;
              }
              color: #333;
              line-height: 28px;
            }
            .chat-with{
              display: flex;
              background: url("/images/chatroom/friendbg.png") no-repeat;
              height: 41px;
              line-height: 40px;
              justify-content: center;
              color: #fff;
              font: {
                size: 14px;
                weight: bold;
              }
              margin: {
                top: 10px;
                left: 10px;
              }
            }
          }
        }
        .friend-pic{
          display: flex;
          margin: 0 8px;
          img{
            width: 48px;
            height: 48px;
          }
        }
        .right-text{
          cursor: pointer;
          h4{
            display: flex;
            align-items: center;
            line-height: 32px;
            span{
              width: 14px;
              height: 14px;
              background-color: #bababa;
              border-radius: 50%;
              margin-left: 10px;
              &.new-friend{
                background-color: #46d434;
              }
            }
          }
          p{
            font-size: 12px;
            color: #999;
          }
        }
      }
    }
  }
}

//修改个人信息模态框样式
.modify-modal{
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.3);
  display: none;
  .modify-info{
    background-color: #fff;
    position: absolute;
    top: 200px;
    left: 50%;
    width: 40%;
    margin-left: -20%;
    .info-box{
      display: flex;
      flex-direction: column;
      background-color: #fff;
      flex: 1;
      padding: 20px 20px 0;
      .info-header{
        display: flex;
        flex: 1;
        align-items: center;
        .info-left{
          display: flex;
          flex: 1;
          justify-content: flex-start;
          align-items: center;
          .editor{
            width: 36px;
            height: 36px;
            margin-right: 10px;
          }
          strong{
            font-size: 20px;
            color: #555b61;
          }
        }
        .close{
          width: 34px;
          height: 34px;
          fill: #fe4870;
          justify-content: flex-end;
          cursor: pointer;
        }
      }
      .person-info{
        display: flex;
        flex-direction: column;
        .info-tab{
          display: flex;
          margin: 15px 0;
          li{
            padding: 10px;
            border-radius: 10px;
            margin-right: 20px;
            &.current{
              background-color: #80a8cb;
              a{
                color: #fff;
              }
            }
            &:hover{
              background-color: #80a8cb;
              a{
                color: #fff;
              }
            }
            a{
              font-weight: bold;
              color: #555b61;
            }
          }
        }
        .tab-content{

          .tab-item{
            display: flex;
            flex-direction: column;
            li{
              display: flex;
              align-items: center;
              margin:{
                bottom: 30px;
                top: 10px;
              }
              &:last-child{
                margin-top: 0;
              }
              p{
                flex: 2;
                label{
                  font-size: 14px;
                  color: #555b61;
                }
                .name{
                  width: 70%;
                  border:1px solid #b9c2cb;
                  height: 26px;
                }
              }
              .selected{
                display: flex;
                justify-content: center;
                align-items: center;
                border:1px solid #b9c2cb;
                height: 26px;
                margin-left: 2px;
                font-size: 14px;
                color: #6c6c6c;
                font-family: "Microsoft YaHei";
                option{
                  border-bottom: 1px solid #b9c2cb;
                }
              }
            }
          }
        }
        .submit{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 139px;
          height: 58px;
          color: #fff;
          font-size: 16px;
          padding-bottom: 20px;
          cursor: pointer;
          background: url(/images/chatroom/putbg.png) no-repeat;
        }
      }
    }

  }
}

@media (min-width: 1024px) and (max-width: 1550px){
  .chat-content{
    .content-center{
      margin-left: 28%;
    }
  }

}

@media (min-width:1551px) and (max-width: 1760px) {
  .chat-content{
    .content-center{
      margin-left: 25%;
    }
  }
}