//浏览器重置样式
html, body, div, span, nav, header, iframe,
h1, h2, h3, h4, h5, h6, p, section, footer,
a, form, address, big, cite, code,
del, dfn, em, img, ins, fieldset, q, s, samp,
small, strike, strong, sub, sup,label, var,
b, u, i,input, dl, dt, dd, ol, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
$main-font: "Microsoft YaHei";
html,body{
  font:{
    size: 16px;
    family: $main-font;
  }
}
.chat-room{
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  font-family:  $main-font;
}
form,fieldset{
  border: 0 none;
}
ol,ul{
  list-style: none;
}
img{
  border: 0 none;
  max-width: 100%;
}
input{
  outline: none;
  font-family: $main-font;
}
button{
  border: 0;
  font-family: $main-font;
}
i,em{
  font-style: normal;
}
a {
  color: #535353;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
svg{
  width: 28px;
  height: 28px;
  vertical-align: middle;
}

header{
  display: flex;
  flex: 1;
  height: 60px;
  width: 100%;
  background-color: #fff;
  flex-wrap: nowrap;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  .chat-life{
    flex: 0 0 10em;
    flex-wrap: nowrap;
    text-align: center;
    .life{
      width: 126px;
      height: 126px;
      fill: #567da4;
      margin-top: -28px;
    }
  }
  .header-icon{
    display: flex;
    flex: 2.5;
    background-color: #fff;
    flex-wrap: nowrap;
    margin-top: 5px;
    li{
      flex: 0 0 21%;
      text-align: center;
      cursor: pointer;
      svg{
        width: 26px;
        height: 28px;
        fill: #565b61;
      }
      .icon-text{
        color: #555b61;
        display: block;
      }
    }
  }
  .myself{
    flex: 3;
    display: block;
    justify-content:center;
    text-align: center;
    line-height: 60px;
    .my{
      width: 37px;
      height: 41px;
      fill: #80a8cc;
    }
  }
  .search-input{
    display: flex;
    flex: 2;
    margin-top: 12px;
    .input-box{
      display: flex;
      flex:5;
      height: 40px;
      justify-content: flex-end;
      border:1px solid #cfcfcf;
      border-radius: 40px;
      background-color: #fff;
      text-align: center;
      padding-left: 20px;
      .search{
        height: 40px;
        flex: 6;
        font-family: $main-font;
      }
      .magnifier{
        flex: 1;
        fill: #80a8cc;
        margin-top: 5px;
        margin-right: 5px;
      }
    }
    .photo{
      display: flex;
      justify-content: flex-end;
      margin:{
        left: 50px;
        right: 24px;
      }
      border-radius: 50%;
      //position: relative;
      &:hover{
        .modal-box{
          display: block;
        }
      }
      .head-photo{
        width: 45px;
        height: 45px;
        display: block;
      }
      .modal-box{
        position: absolute;
        z-index: 100;
        right: 0;
        top: 50px;
        margin-right: 20px;
        padding-top: 30px;
        display: none;
        .modal-message{
          display: flex;
          flex-direction: column;
          background-color: #fff;
          box-shadow: 0 2px 15px #ccc;
          .triangle{
            position: absolute;
            right: 15px;
            top: 15px;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right:15px solid transparent;
            border-bottom: 15px solid #fff;
            margin: 0;
            padding: 0;
          }
          .get-info{
            display: flex;
            flex-direction: column;
            background-color: #fff;
            a{
              flex: 1;
              padding: 10px 0;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              &.me{
                border-bottom:1px solid #dcdcdc;
              }
              svg{
                width: 30px;
                height: 26px;
                fill: #80a8cc;
                margin: 0 15px;
              }
              span{
                color: #333;
                font-size: 14px;
              }
              strong{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #f2504e;
                color: #fff;
                height: 16px;
                line-height: 16px;
                border-radius: 10px;
                margin: 0 10px;
                padding: 0 10px;
                font-size: 10px;
              }
            }
          }
        }
      }

    }
  }
}
.chat-content{
  display: flex;
  flex: 1;
  height: auto;
  margin-top: 60px;
  overflow: auto;
  .content-center{
    flex: 1;
    flex-direction: column;
    display: flex;
    //margin-left: 26%;
    margin: 0 5%;
    .center-header{
      display: flex;
      background-color: #fff;
      margin: 50px 0 30px;
      height: 62px;
      align-items: center;
      justify-content: center;
      flex: 0 0 62px;
      border: {
        right: 1px;
        bottom: 2px;
        style: solid;
        color: #e2e2e2;
      }
      a{
        flex: 1;
        text-align: center;
        cursor: pointer;
        align-content: center;
        &.current{
          border-bottom: 5px solid #80a8cc;
        }
        strong{
          display: block;
          line-height: 24px;
          &.text{
            color: #949EA7;
            font-family:"SimHei";
            padding-top: 8px;
          }
          &.number{
            color: #333;
            font-size: 18px;
          }
        }

      }
    }
    .content-box{
      display: flex;
      flex: 1;
      background-color: #fff;
      flex-direction: column;
      border-right:1px solid #e0e0e0;
      .details{
        background-color: #fff;
        display: flex;
        border-bottom:1px solid #e0e0e0;
        .rely{
          display: flex;
          padding: {
            top: 30px;
            left: 40px;
            bottom: 30px;
            right: 30px;
          }
          .people-pic{
            margin-right: 2%;
          }
          .details-text{
            flex: 1;
            h3{
              height: 28px;
              color: #3c444c;
              font:{
                size: 18px;
                family: SimHei;
              }
              cursor: pointer;
            }
            p{
              line-height: 20px;
              font-size: 14px;
              color: #666;
              margin-bottom: 10px;
            }
            .picture{
              display: block;
              &.same-big{
                height: 147px;
                overflow: hidden;
              }
            }

            .reproduced{
              display: flex;
              background-color: #e3ecf3;
              padding: {
                top: 10px;
                left: 16px;
                bottom:10px;
                right: 20px;
              }
              margin-top: 10px;
              .reproduced-left{
                margin-right: 1%;
              }
              .reproduced-right{
                flex: 1;
                h4{
                  font-size: 12px;
                  color: #41464c;
                  line-height: 24px;
                }
                p{
                  font-size: 12px;
                }
              }
            }
            .click-btn{
              display: flex;
              cursor: pointer;
              padding-top: 10px;
              align-items: center;
              li{
                margin-right: 2%;
                svg{
                  width: 20px;
                  height: 18px;
                  fill: #cdcdcd;

                  &.current{
                    fill: red;
                  }
                }
                span{
                  font-size: 14px;
                  color: #cdcdcd;
                }
              }
            }
          }
        }
      }
      .pagination-click{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
        background-color: #fff;
        li{
          text-align: center;
          line-height: 26px;
          font-family: "SimHei";
          font-size: 14px;
          margin: 0 8px;
          &.active{
            width: 26px;
            height: 26px;
            background-color: #80a8cc;
            color: #fff;
          }
          &.next{
            font-weight: bold;
          }
          a{
            color: #454c54;
          }

        }
      }
    }

  }
  .content-right{
    flex: 0 0 15%;
    background-color: #fff;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    h2{
      flex: 0 0 2em;
      font-size: 18px;
      color: #454c54;
      line-height: 36px;
      padding: {
        left: 15px;
        top: 10px;
        bottom: 10px;
      }
      border-bottom:1px solid #efefef;
    }
    .friend{
      display:flex;
      flex: 1;
      flex-direction: column;
      li{
        display: flex;
        padding: {
          left: 15px;
          top: 20px;
          bottom: 20px;
        }
        border-bottom:1px solid #efefef;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        &:hover{
          .all-info{
            display: block;
            padding-right:20px;
          }
        }
        .all-info{
          display: none;
          position: absolute;
          left: -360px;
          top: -30px;
        }
        .pop-info{
          display: flex;
          background-color: #fff;
          box-shadow: 0 3px 10px #eee;
          align-items: center;
          justify-content: center;
          padding-right: 30px;
          .big-head{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
          }
          .pop-text{
            flex: 1;
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            align-self: flex-start;
            p{

              font: {
                size: 12px;
                weight: bold;
              }
              color: #333;
              line-height: 28px;
            }
            .chat-with{
              display: flex;
              background: url("/images/chatroom/friendbg.png") no-repeat;
              height: 41px;
              line-height: 40px;
              justify-content: center;
              color: #fff;
              font: {
                 size: 14px;
                weight: bold;
              }
              margin: {
                top: 10px;
                left: 10px;
              }
            }
          }
        }
        .friend-pic{
          display: flex;
          margin: 0 8px;
          //img{
          //  width: 48px;
          //  height: 48px;
          //}
        }
        .right-text{
          cursor: pointer;
          h4{
            display: flex;
            align-items: center;
            line-height: 32px;
            span{
              width: 14px;
              height: 14px;
              background-color: #bababa;
              border-radius: 50%;
              margin-left: 10px;
              &.new-friend{
                background-color: #46d434;
              }
            }
          }
          p{
            font-size: 12px;
            color: #999;
          }
        }
      }
    }
  }
  .content-left{
    flex: 0 0 25%;
    //个人信息导航放到最左边
    order:-1;
    background-color: #80a8cc;
    //position: fixed;
    max-width: 400px;
    width: 26%;
    //top:60px;
    //left: 0;
    //bottom: 0;
    overflow: auto;
    .avatar{
      li{
        justify-content: center;
        align-items:center;
        display: flex;
        flex-direction: column;
        &.text-company{
          margin-left:60px;
        }
        .head-portrait{
          display: block;
          width: 144px;
          height: 144px;
          margin-top: 40px;
          position: relative;
          .editor{
            position: absolute;
            bottom: 10%;
            right: 0;
          }
        }
        strong{
          color: #fff;
          font-size: 20px;
          padding: 2% 0 3%;
        }
        p{
          color: #fffeff;
          line-height: 26px;
          align-self: flex-start;
          font-size: 100%;
       }
        .attention{
          width: 50%;
          height:40px;
          background-color: #567ea2;
          color: #fff;
          text-align: center;
          line-height: 40px;
          border-radius: 50px;
          margin:{
            top: 30px;
            bottom: 30px;
          }
        }
      }
    }
    .life-pic{
      font-size: 0;
      li{
        display: flex;
        font-size: 0;
        .live{
          flex: 1;
          img{
            min-width: 100%;
          }
        }
      }

    }
    .trend{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      margin:{
        top: 20px;
        left: 15%;
      }
      h4{
        color: #fff;
        line-height: 35px;
      }
      .info{
        line-height: 26px;
        font-size: 12px;
        a{
          color: #567ea3;
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }
}

//修改个人信息模态框样式
.modify-modal{
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.3);
  display: none;
  .modify-info{
    background-color: #fff;
    position: absolute;
    top: 200px;
    left: 50%;
    width: 30%;
    margin-left: -15%;
    .info-box{
      display: flex;
      flex-direction: column;
      background-color: #fff;
      flex: 1;
      padding: 20px;
      .info-header{
        display: flex;
        flex: 1;
        align-items: center;
        .info-left{
          display: flex;
          flex: 1;
          justify-content: flex-start;
          align-items: center;
          .editor{
            width: 36px;
            height: 36px;
            margin-right: 10px;
          }
          strong{
            font-size: 20px;
            color: #555b61;
          }
        }
        .close{
          width: 34px;
          height: 34px;
          fill: #fe4870;
          justify-content: flex-end;
          cursor: pointer;
        }
      }
      .person-info{
        display: flex;
        flex-direction: column;
        .info-tab{
          display: flex;
          margin: 15px 0;
          li{
            padding: 10px;
            border-radius: 10px;
            margin-right: 20px;
            &.current{
              background-color: #80a8cb;
              a{
                color: #fff;
              }
            }
            &:hover{
              background-color: #80a8cb;
              a{
                color: #fff;
              }
            }
            a{
              font-weight: bold;
              color: #555b61;
            }
          }
        }
        .tab-content{

          .tab-item{
            display: flex;
            flex-direction: column;
            li{
              display: flex;
              align-items: center;
              margin:{
                bottom: 30px;
                top: 10px;
              }
              &:last-child{
                margin-top: 0;
              }
              p{
                flex: 2;
                label{
                  font-size: 14px;
                  color: #555b61;
                }
                .name{
                  width: 70%;
                  border:1px solid #b9c2cb;
                  height: 26px;
                }
              }
              .selected{
                display: flex;
                justify-content: center;
                align-items: center;
                border:1px solid #b9c2cb;
                height: 26px;
                margin-left: 2px;
                font-size: 14px;
                color: #6c6c6c;
                font-family: "Microsoft YaHei";
                option{
                  border-bottom: 1px solid #b9c2cb;
                }
              }
            }
          }
        }
        .submit{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 139px;
          height: 58px;
          color: #fff;
          font-size: 16px;
          padding-bottom: 20px;
          cursor: pointer;
          background: url(/images/chatroom/putbg.png) no-repeat;
        }
      }
    }

  }
}