@import "../common";

.right-section{

  .top-content{
    flex: 1;
    .content{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      margin-top: 160px;
      .content-tab{
        max-height: 650px;
        overflow-x: hidden;
        overflow-y: auto;
        display: none;
        .table{
          width: 100%;
          height:auto;
          margin:{
            top: 20px;
            left: 15px;
          }
          .top-head{
            width: 100%;
            height: 40px;
            background: #758c94;
            line-height: 40px;
            display: flex;
            border-bottom: 1px solid #cacfce;
            border-radius:5px 5px 0 0;
            li{
              flex: 1;
              color: #fff;
              padding-left: 60px;
              font:{
                size:12px;
                weight: bold;
              }
            }
          }
          .table-list{
            width: 100%;
            height: 100%;
            overflow: hidden;
            border:1px solid #f6f7f7;
            border-radius: 5px;
            .all-list{
              height: 40px;
              display: flex;
              align-items: center;
              &:nth-of-type(odd){
                background-color: #f0f6f4;
              }
              p{
                font-size: 12px;
                flex: 1;
                padding-left: 20px;
                color: #666;
                &.text-one{
                  padding-left: 98px;
                }
                &.text{
                  padding-left: 60px;
                }
                span{
                  &:nth-of-type(2){
                    padding-left: 30px;
                  }
                }
              }
            }
          }
        }
      }
      .tab-item{
        display: block;
      }
    }
  }
}