@import "../common";
button{
  outline: none;
}
.content{
  .contentCenter{
    width: 1300px;
    margin: 0 auto;
    font-size: 14px;
     .contentAll{
       display:flex;
       flex-direction: row;
       justify-content: space-between;
       .dataLeft{
         width: 45%;
         ul.data02{
           li{
             margin-top: 38px;
             &.veryImportant{
               input{
                 border: 1px solid #1aafea;
                 &:hover{
                   box-shadow: 0 0 3px #1aafea;
                 }
               }
             }
             label{
                width:147px;
                display: inline-block;
                text-align: right;
               em{
                 display: inline-block;
                 width: 112px;
                 text-align-last: justify;
               }
               i{
                 margin-right: 10px;
               }
               &:after{
                 content: '\FF1A';
               }
             }
             input{
               padding: {
                 left: 15px;
                 right: 15px;
               };
               height: 36px;
               border: 1px solid #999999;
               border-radius: 5px;
               width: 65%;
               margin-left: 14px;
             }
           }
         }
       }
       .dataRight{
         @extend .dataLeft;
       }
     }
     .dataBottom{
       padding: {
         left: 60px;
         right: 70px;
       };
       .imPrompt{
         display: none;
         line-height: 42px;
         i:nth-of-type(1){
           img{
             vertical-align: middle;
           }
           margin-right: 10px;
         }
         i:nth-of-type(2){margin: 0 6px;}
       }
       margin-top: 40px;
       display: flex;
       justify-content: flex-end;
      button{
        color: white;
        width: 111px;
        height: 42px;
        font-size: 18px;
        cursor: pointer;
        background: url("/images/new_module/data/button.png") no-repeat;
      }
       margin-bottom: 60px;
     }
  }
}