@charset "UTF-8";

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */
.pika-single {
    z-index: 9999;
    margin-top: 7px;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
   /* border: 1px solid #ccc;*/
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
    /*
    clear child float (pika-lendar), using the famous micro clearfix hack
    http://nicolasgallagher.com/micro-clearfix-hack/
    */
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:before {
    clear: both ;
    content: '';
    border-color: transparent transparent #567ea3 transparent;
    border-style: solid dashed dashed;
    top: -16px;
    left: 18px;
    overflow: hidden;
    border-width: 8px;
    position: absolute;
}
.pika-single:after{
    clear: both;
}
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display:none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}
.pika-lendar {
    float: left;
    height: 279px;
    /*margin: 8px;*/
   /* margin: 0 0 8px 8px;*/
    border-right: 1px solid #e9eae9;
}
.pika-title {
    position: relative;
    text-align: center;
    background-color: #567ea3;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-family: "Microsoft YaHei";
    color: #f0f1f3;
   /* font-weight: bold;*/
  /*  background-color: #fff;*/
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width:10px;
    height: 16px;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    *position: absolute;
    *top: 0;
    margin-top: 9px;

}

.pika-prev:hover,
.pika-next:hover {
   /* opacity: 1;*/
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    margin-left: 15px;
    background-image: url('/images/honor/honorIcon08.png');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    margin-right: 15px;
    background-image: url('/images/honor/honorIcon09.png');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
   /* opacity: .10;*/
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 160px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    margin-left: 15px;
    margin-right: 15px;
}
.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
   text-align: center;
    padding-top: 5px;
}
.pika-table th {
    text-align: center;
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f4f5f4;
}
.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    background: white;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    color: #567ea3;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #567ea3;
    box-shadow: inset 0 1px 3px #567ea3;
    border-radius: 3px;
}

.is-inrange .pika-button {
    background: #D5E9F7;
}

.is-startrange .pika-button {
    color: #fff;
    background: #6CB31D;
    box-shadow: none;
    border-radius: 3px;
}

.is-endrange .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: none;
    border-radius: 3px;
}

.is-disabled .pika-button,
.is-outside-current-month .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff;
    background: #567ea3;
    box-shadow: none;
    border-radius: 3px;
}

/* styling for abbr */
.pika-table abbr {
    cursor: help;
}

