@import "../base";
body,html{
  background-color: white;
}
body{
 min-width: 1200px;
 overflow-x: hidden;
}
.banner{
   width:100%;
   height: 389px;
  background-image: url('/images/honor/banner.jpg');
  margin-top: 3%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  p{
    display: flex;
    align-items:flex-end;
    max-width: 141px;
    margin:0 0 60px 20%;
    width: 25%;
    button{
      width: 100%;
      height: 36px;
      background-color: #ff6186;
      color: white;
      border-radius: 5px;
      text-shadow: #a8596b 2px 1px 3px;
      cursor: pointer;
    }
  }
}
.content{
  display: flex;
  flex: 1;
  flex-direction: column;
  height: auto;
  width: 1100px;
  margin: 0 auto;
     .center-like{
       flex: 1;
       ul{
         display: flex;
         margin-top: 40px;
          li{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            max-width: 330px;
            box-shadow: 0 0 10px #e5e5e5;
            margin: {
              right: 76px;
              bottom: 40px;
            }
            padding: {
              bottom: 5px;
            }
            &:last-child{
              margin-right: 0;
            }

           .honor01{
                position: relative;
               margin-bottom: 30px;
             .current{
               position: absolute;
               top:75%;
               right: 5%;
             }

            }
            p{
              text-align: left;
              margin: 0 17px;
              &:nth-of-type(1){
                font:{
                  size: 12px;
                  weight: bold;
                }
                margin-bottom: 7px;
              }
              &:nth-of-type(2){
                margin-bottom: 11px;
                font:{
                  size: 16px;
                  weight: bold;
                }
              }
              &:nth-of-type(3){
                line-height: 19px;
                font:{
                  size: 12px;
                }
                color: #666;
              }
            }
            .detail{
              width: 122px;
              height: 28px;
              line-height: 28px;
              margin: 15px 0 20px 17px;
              background: #80A8CC;
              color: white;
              text-align: center;
              cursor: pointer;
              border: 2px solid #80A8CC;
              font:{
                size: 14px;
              }
              &:hover{
                background: white;
                border: 2px solid #80A8CC;
                color: #80A8CC;
               }
            }

           }
       }
     }
     .pagination-click{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px 0;
      background-color: #fff;
      li{
        text-align: center;
        line-height: 26px;
        font-family: "SimHei";
        font-size: 14px;
        margin: 0 8px;
        &.active{
          width: 26px;
          height: 26px;
          background-color: #80a8cc;
          color: #fff;
        }
        &.next{
          font-weight: bold;
        }
        a{
          color: #454c54;
        }

      }
    }
  }


