@import "../base";
body,html{
  background-color: white;
}
button{
  outline:none;
}
body{
 min-width: 1200px;
 overflow-x: hidden;
  background-color: #f8f8f8;
}
.banner{
  margin-top: 61px;
  margin-bottom: 0;
}
.add-honor{
   background: url("/images/honor/addbg.png");
   height: 100px;
  margin-top: -5px;
  .add-honor02{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1142px;
    margin: 0 auto;
    b{
      font:{
        weight: normal;
        size: 28px;
      }
      color: white;
    }
    a{
      font-size: 16px;
      width: 124px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: white;
      border: 2px solid white;
      background: none;
      cursor: pointer;
    }
  }
}
.content{
  flex: 1;
  flex-direction: column;
  height: auto;
     .center-like{
       width: 1142px;
       margin: 0 auto;
       flex: 1;
       margin-top: 40px;
       ul{
         display: flex;
          li{
            background-color: white;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            width: 330px;
            min-width: 330px;
            max-width: 330px;
            height: 360px;
            box-shadow: 0 0 10px #e5e5e5;
            margin: {
              right: 76px;
              bottom: 40px;
            }
            padding: {
              bottom: 5px;
            }
            &:last-child{
              margin-right: 0;
            }
           .honor01{
                display: block;
                width: 100%;
                position: relative;
             i{
               display: block;
               text-align: center;
               margin: 0 auto;
               max-height: 154px;
               overflow: hidden;
               box-shadow: 0 2px 5px #eeeeee;
               img{
                  height: 140px;
                  border: 5px solid white;
               }
             }
             .current{
               position: absolute;
               bottom:-25px;
               right: 5%;
             }
            }
            p{
              text-align: left;
              margin: 0 17px;
              &:nth-of-type(1){
                margin-top: 30px;
                font:{
                  size: 12px;
                  weight: bold;
                }
                margin-bottom: 7px;
              }
              &:nth-of-type(2){
                overflow: hidden;
                text-overflow: ellipsis;
                white-space:nowrap;
                margin-bottom: 11px;
                font:{
                  size: 16px;
                  weight: bold;
                }
              }
              &:nth-of-type(3){
                overflow : hidden;
                height: 65px;
                line-height: 16px;
                font:{
                  size: 12px;
                }
                color: #666;
              }
            }
            .detail{
              display: block;
              margin: {
                left: 15px;
                top:12px;
              };
              width: 122px;
              height: 28px;
              line-height: 28px;
              background: #80A8CC;
              color: white;
              text-align: center;
              cursor: pointer;
              border: 2px solid #80A8CC;
              font:{
                size: 14px;
              }
              &:hover{
                background: white;
                border: 2px solid #80A8CC;
                color: #80A8CC;
               }
            }

           }
       }
     }
     .pagination-click{
      display: flex;
      align-items: center;
      justify-content: center;
       padding: {
         top:30px;
         bottom: 15px;
       };
       background-color: #fff;
      li{
        text-align: center;
        line-height: 26px;
        font-family: "SimHei";
        font-size: 14px;
        margin: 0 8px;
        &.active{
          width: 26px;
          height: 26px;
          background-color: #80a8cc;
          color: #fff;
        }
        &.next{
          font-weight: bold;
        }
        a{
          color: #454c54;
        }

      }
    }
  }
footer{
  box-shadow: 0 -2px 2px #eeeeee;
  margin-top: 3px;
}


