@import "common";
.right-section{

  .top-content{
    flex: 1;
    .content{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      .list{
        width: 100%;
        height: 58px;
        background-color: #f6f6f6;
        display: flex;
        align-items: center;
        border: {
          top: 1px;
          bottom: 1px;
          style: solid;
          color: #e4e4e4;
        }
        li{
          width: 10%;
          display: flex;
          justify-content: flex-start;
          cursor: pointer;
          padding-left: 15px;
          &.current{
            height: 78px;
            line-height: 78px;
            background-color: #fff;
            margin-top: -22px;
            display: flex;
            align-items: center;
            border: {
              top: 1px;
              left: 1px;
              right:1px;
              style: solid;
              color: #e1e1e1;
            }
            a{
              line-height: 1.5;
            }
          }
          &.last-select{

            @media screen and (max-width: 1920px) {
              margin-left: -120px;
            }
            @media screen and (min-width: 1280px) {
              margin-left: -50px;
            }
            .select{
              width: 100%;
              height: 28px;
              border: 1px solid #e1e1e1;
              color: #c2c2c2;
              padding-left: 10px;
            }
            .arrow-select{
              width: 28px;
              height: 28px;
              background-color: #cdeefb;
              line-height: 28px;
              text-align: center;
              margin-left: -28px;
            }
          }
          a{
            text-align: left;
            padding:{
              left: 14px;
            }
            line-height: 1.5;
            border: {
              left: 2px;
              style: solid;
              color: #fff;
            }
            font-size: 16px;
            span{
              display: block;
              font-size: 12px;
              color: #c2c2c2;
            }
            &.lis{
              border: {
                color: #06afe1;
              }
            }
            &.add{
              border: {
                color: #bfabcf;
              }
            }
            &.same-one{
              border: {
                color: #93c1bb;
              }
            }
            &.same-two{
              border: {
                color: #ddcfac;
              }
            }
            &.same-three{
              border: {
                color: #6fa2ac;
              }
            }
            span{
              display: block;
            }
          }
        }
      }
      .content-tab{
        height: 665px;
        overflow-x: hidden;
        overflow-y: auto;
        .table{
          width: 100%;
          height:auto;
          margin:{
            top: 20px;
            left: 15px;
          }
          border: 1px solid #fdfdfd;
          .list-head{
            display: flex;
            height: 40px;
            background-color: #758c94;
            align-items: center;
            border-radius: 5px 0;
            padding-left: 60px;
            span{
              flex: 1;
              color: #fff;
              font-size: 12px;
            }
          }
          .list-all{
            width: 100%;
            .odd{
              background-color: #f0f6f4;
            }
            .list-text{
              display: flex;
              height: auto;
              line-height: 40px;
              padding-left: 60px;

              p{
                display: flex;
                flex: 1;
                justify-content: flex-start;
                color: #666;
                font-size: 12px;
                span{
                  margin-left: -40px;
                  &:last-child{
                    padding-left: 70px;
                  }
                }
                .more{
                  display: flex;
                  align-items: center;
                  width: 72px;
                  height: 22px;
                  justify-content: center;
                  background: url("/images/organization/radius.png") no-repeat;
                  color: #fff;
                  margin: 10px 0;
                  font-size: 12px;
                }
              }
            }
            .can{
              display: none;
              width: 100%;
              height: auto;
              padding: {
                top: 32px;
                left: 30px;
                bottom: 26px;
                right: 20px;
              }
              background-color: #737373;
              position: relative;
              &:before{
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 15px 20px 0 20px;
                border-color: #f0f6f4 transparent transparent transparent ;
                position: absolute;
                left: 50%;
                top: 0;
                margin-left: -20px;
              }
              .can-see{
                li{
                  margin-bottom: 5px;
                  .see-parent{
                    line-height: 40px;
                    background-color: #474747;
                    color: #fff;
                    display: flex;
                    border-radius: 5px 0;
                    padding-left: 30px;
                    span{
                      flex: 1;
                      font-size: 12px;
                    }
                  }
                  .see-children{
                    line-height: 40px;
                    background-color: #5f5f5f;
                    color: #fff;
                    display: flex;
                    border-radius: 0 5px;
                    padding-left: 30px;
                    span{
                      flex: 1;
                      font-size: 12px;
                      color: #cfdde3;
                      cursor: pointer;
                    }
                  }
                }
              }
              .module{
                display: none;
                .see-module{
                  width: 392px;
                  height: 286px;
                  background-color: #fff;
                  position: absolute;
                  top: 60px;
                  left: 50%;
                  margin-left: -196px;
                  box-shadow: 0 4px 20px #6f6e6e;
                  border-radius: 5px;
                  .see-type{
                    height: 40px;
                    line-height: 40px;
                    background-color: #f0f6f4;
                    font-size: 12px;
                    color: #333;
                    border-radius: 5px;
                    padding-left: 15px;
                  }
                  .see-description{
                    height: 206px;
                    font-size: 12px;
                    color: #666;
                    display: flex;
                    padding: 0 20px;
                    align-items: center;
                  }
                  .btn{
                    width: 100%;
                    height: 40px;
                    background-color: #758c94;
                    border-radius: 0 0 5px 5px;
                    color: #fff;
                    font-size: 14px;
                    cursor: pointer;
                  }
                }
              }

            }
          }
        }
      }
    }
  }
}