//浏览器重置样式
html, body, div, span, nav, header, iframe,
h1, h2, h3, h4, h5, h6, p, section, footer,
a, form, address, big, cite, code,
del, dfn, em, img, ins, fieldset, q, s, samp,
small, strike, strong, sub, sup,label, var,
b, u, i,input, dl, dt, dd, ol, ul, li,figure,figcaption{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
$main-font: "Microsoft YaHei";
html,body{
  width: 100%;
  font:{
    size: 14px;
    family: $main-font;
  }
  background:#fff;
}
form,fieldset{
  border: 0 none;
}
ol,ul li{
  list-style: none;
}
img{
  border: 0 none;
  max-width: 100%;
}
input,select{
  outline: none;
  font-family: $main-font;
}
button{
  border: 0;
  font-family: $main-font;
}
select{
  appearance:none;
  -moz-appearance:none;
}
i,em{
  font-style: normal;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
a {
  color: #999;
  text-decoration: none;
  font-size: 14px;
  &:hover {
    text-decoration: none;
  }
}

//header style
header{
  width: 100%;
  height: 82px;
  .search{
    flex: 1;
    height: 82px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    align-items: center;
    .search-btn{
      width: 19px;
      height: 18px;
      background: url("/images/new_module/organization/search.png") no-repeat center;
      margin-right: 18px;
    }
    .selected{
      width: 137px;
      height: 37px;
      background: url("/images/new_module/organization/searchbg.png") no-repeat;
      color: #fff;
      padding-left: 18px;
      option{
        color: #666;
      }
    }
    .arrow{
      width: 9px;
      height: 7px;
      background: url("/images/new_module/organization/down.png") no-repeat center;
      cursor: pointer;
      margin: {
        left: -20px;
      }
    }
  }
}
//banner style
.banner{
  width: 100%;
  height: 231px;
  background: url("/images/new_module/index/xbanner.jpg") no-repeat center center;
  cursor: pointer;
  display: flex;
  align-items: center;
  .logo{
    display: block;
    width: 139px;
    height: 140px;
    margin-left: 8%;
  }
}

//important content section
.main{
  width: 100%;
  height: 100%;
  //overflow: hidden;
  .all-module{
    width: 100%;
    height: auto;
    display: flex;
    margin:80px auto 0;
    flex-direction: column;
    overflow: auto;
    @media screen and (max-width: 1600px) {
      width: 1220px;
    }
    .company{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      overflow: hidden;
      transform-origin: center;
      margin-bottom: 15px;
      @media screen and (max-width: 1600px) {
        height: 190px;
        margin-bottom: 15px;
      }
      .same-type{
        height: auto;
        display: flex;
        justify-content: center;
        margin-right: 15px;
        will-change: transform;
        transition: box-shadow .3s ease;
        box-shadow: 0 10px 30px transparent;
        &:last-child{
          margin-right: 0;
        }
        @media screen and (max-width: 1600px) {
          width: 190px;
          height: 100%;
          margin-right: 15px;
        }
        .first{
            width: 246px;
            height: 246px;
            border: 2px solid #666;
            @media screen and (max-width: 1600px) {
              width: 186px;
              height: 186px;
            }
            .border-bg{
              height: 224px;
              border: 1px solid #bbb;
              margin: 10px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              background-color: #fff;
              transition: all .3s ease-out;
              @media screen and (max-width: 1600px) {
                height: 164px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              }
              .icon-one{
                display: block;
                width: 34px;
                height: 40px;
                margin: 0 auto;

                &.icon-bus{
                  width: 48px;
                  height: 34px;
                  @media screen and (max-width: 1600px) {
                    padding-top: 10px;
                  }
                }
                &.home{
                  width: 42px;
                  height: 36px;
                  @media screen and (max-width: 1600px) {
                    padding-top: 10px;
                  }
                }
              }
              .top-text{
                font-size: 24px;
                color: #333;
                @media screen and (max-width: 1600px) {
                  font-size: 18px;
                  text-align: center;
                }
              }

              p{
                width: 200px;
                padding-top: 12px;
                text-align: center;
                margin: 15px auto 0;
                border-top: 1px solid #bababa;
                @media screen and (max-width: 1600px) {
                  width: 145px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin-top: 12px;
                  padding-top: 5px;
                }
                span{
                  display: block;
                  line-height: 30px;
                  &.word-text{
                    font:{
                      size: 18px !important;
                      family: Arial;
                    }
                    color: #999 !important;
                  }
                  &:first-child{
                    font-size: 22px;
                    color: #333;
                  }
                  &:last-child{
                    font-family:Arial;
                    font-size: 18px;
                    color: #999;
                  }
                  @media screen and (max-width: 1600px) {
                    width: 145px;
                    &.word-text{
                      line-height: 20px;
                      font:{
                        size: 16px !important;
                      }
                    }
                    &:first-child{
                      font-size: 20px;
                    }
                    &:last-child{
                      font-size: 15px;
                      line-height: 20px;
                    }
                  }
                }
              }
            }
          }
      }
      .type-two{
        display: flex;
        justify-content: center;
        position: relative;
        .second{
          width: 250px;
          height: 250px;
          background-color: #33383b;
          @media screen and (max-width: 1600px) {
            width: 190px;
            height: 190px;
          }
          .border-bg{
            height: 228px;
            margin: 10px;
            border: 1px solid #bbb;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 1600px) {
              height: 168px;
              .top-text{
                font:{
                  size: 16px;
                  family: Arial;
                }
                color: #fff;
              }
            }
            .icon-one{
              display: block;
              width: 34px;
              height: 40px;
            }
            .top-text{
              font:{
                size: 22px;
                family: Arial;
              }
              color: #fff;
              @media screen and (max-width: 1600px) {
                font-size: 20px;
                line-height: 30px;
              }
            }
            p{
              width: 200px;
              padding-top: 10px;
              text-align: center;
              margin-top: 10px;
              border-top: 1px solid #b6babb;
              @media screen and (max-width: 1600px) {
                width: 150px;
                text-align: center;
                padding-top: 5px;
                margin-top: 5px;
              }
              span{
                display: block;
                line-height: 30px;
                color: #999;
                &.word-text{
                  color: #999 !important;
                  font:{
                    size: 18px !important;
                    family: Arial;
                  }
                }
                &:first-child{
                  font-size: 22px;
                  color: #fff;
                }
                &:last-child{
                  font-family:Arial;
                  font-size: 18px;
                  color: #999;
                }
                @media screen and (max-width: 1600px) {
                  &.word-text{
                    font:{
                      size: 16px !important;
                    }
                  }
                  &:first-child{
                    font-size: 18px;
                  }
                  &:last-child{
                    line-height: 22px;
                    font-size: 14px;
                  }
                }
              }
            }
          }

        }
      }
      .type-three{
        width: 516px;
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        @media screen and (max-width: 1600px) {
          width: 396px;
        }
        .three{
          width: 100%;
          height: 246px;
          border: 2px solid #666;
          transform-style: preserve-3d; //设置变换属性为3D，只对子元素有效
          transform: rotateX(0deg);
          transition: all 0.5s ease-out;
          @media screen and (max-width: 1600px) {
            width: 396px;
            height: 186px;
          }
          .border-bg{
            height: 228px;
            margin: 8px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            transition: all 0.3s ease-out;
            border: 1px solid #9a9997;
            background: url("/images/new_module/index/tu01.jpg") no-repeat center center;
            padding-right: 40px;
            &.tracking{
              background: url("/images/new_module/index/tracking_remind.jpg") no-repeat center center;
            }
            &.person{
              background: url("/images/new_module/index/tu02.jpg") no-repeat center center;
            }
            &.business{
              background: url("/images/new_module/index/chooser.jpg") no-repeat center center;
            }
            &.assessment{
              background: url("/images/new_module/index/tu03.jpg") no-repeat center center;
            }
            @media screen and (max-width: 1600px) {
              height: 168px;
              padding-right: 25px;
              &.business{
                background-position: 62% 20%;
              }
              //&:hover{
              //  height: 130px;
              //  border: 5px solid #9a9997;
              //}
            }
            .things-management{
              display: block;
              height: 45px;
              line-height: 45px;
              text-align: center;
              background-color: #01c5ff;
              width: 195px;
              font-size: 22px;
              color: #31302c;
              @media screen and (max-width: 1600px) {
                width: 150px;
                font-size: 20px;
              }
            }
            span{
              width: 192px;
              text-align: center;
              color: #989896;
              line-height: 28px;
              font:{
                family: Arial;
                size: 19px;
              }
              @media screen and (max-width: 1600px) {
                width: 145px;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
.footer{
  width: 100%;
  height: 70px;
  background-color: #758c94;
  margin-top: 80px;
}